@{
    ViewBag.Title = "About";
}

<style type="text/css">
    body {
        background-image: url('../../Images/leaves-69999_1280.jpg');
        margin: 0;
         background-size: 100%;
    }
</style>
<div class="container" style="background:rgba(255, 255, 255, 0.7);width:800px ">
    <h1 style="font-family:Verdana">About us</h1>
    <p></p>

    <br>
    <p style="font-family:Georgia;font-size:30px"><i>"Use renewable energy, in exchange for green freedom"</i></p>
    <br>
    <div class="row">
        <div class="col-md-11">
            <p style="font-family:Verdana;font-size:18px;text-align:justify;">

                We started this project because energy consumption in a household is a common concern for every household. As we know, energy comes from different sources for example, coal which is highly used in most aspects and create the natural gas that is harmful to our environment.
                However, due to the increase of people working or study at home, the energy usage has shockingly drove up the energy bills by 40% in Australia.
                This has become a more critical issue that every household is trying to reduce their energy usage.

            </p>
            <br>
            <p style="font-family:Verdana;font-size:18px;text-align:justify">
                Along the way, we identified that an individual behaviour's can be more or less increase the energy waste. That is why we trying to figure the possible solution that can help every household to reduce their energy usage based on each behaviour.
                At here, we want to raise the social awareness of people, with the open data, we break down them and turned them into the information that how the average household spent their energy
                and find out the most simple things that can help to reduce energy usage dailies.
            </p>
        </div>
    </div>
</div>

