@{
    ViewBag.Title = "BulbQuiz";
}




<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<style>
    .block {
        display: block;
        width: 100%;
        border: solid 1px;
        background-color: white;
        color: black;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        margin: 20px;
        border-radius: 12px;
    }

        .block:hover {
            background-color: #ddd;
            color: black;
        }

    .question:not(.active) {
        display: none;
    }


    .progressbar {
        counter-reset: step;
    }

        .progressbar li {
            list-style-type: none;
            width: 14.3%;
            float: left;
            font-size: 12px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            color: #7d7d7d;
        }

            .progressbar li:before {
                width: 30px;
                height: 30px;
                content: counter(step);
                counter-increment: step;
                line-height: 30px;
                border: 2px solid #7d7d7d;
                display: block;
                text-align: center;
                margin: 0 auto 10px auto;
                border-radius: 50%;
                background-color: white;
            }

            .progressbar li:after {
                width: 100%;
                height: 2px;
                content: '';
                position: absolute;
                background-color: #ddd;
                top: 15px;
                left: -50%;
                z-index: -1;
            }

            .progressbar li:first-child:after {
                content: none;
            }

            .progressbar li.active {
                color: green;
            }

                .progressbar li.active:before {
                    border-color: #55b776;
                }

                .progressbar li.active + li:after {
                    background-color: #55b776;
                }
</style>

<div class="w3-row" id="quiz" style="margin-left:-15px;margin-top:-23px">

    <div class="w3-container" style="height:1000px;margin-right:-15px;margin-top:-23px">

        <div class="w3-padding-32 w3-center">

            <h2 style="line-height:1.75"> <b>Bulb Type</b></h2>
            <div id="questions" style="padding:16px;margin-left:15%;margin-right:15%">
                <div class="question active">
                    <br>
                    <h3 style="line-height:1.75"> <b>Please select which state you are located in:</b></h3>
                    <br>
                    <hr>
                    <div class="row">
                        <div class="w3-half w3-center w3-padding-large">
                            <button id="act" class="block">ACT</button>
                            <button id="nsw" class="block">NSW</button>
                            <button id="nt" class="block">NT</button>
                            <button id="qld" class="block">QLD</button>

                        </div>

                        <div class="w3-half w3-center w3-padding-large">
                            <button id="sa" class="block">SA</button>
                            <button id="tas" class="block">TAS</button>
                            <button id="vic" class="block">VIC</button>
                            <button id="wa" class="block">WA</button>
                        </div>

                    </div>
                    <br><br>
                    <div class="container">
                        <ul class="progressbar">
                            <li class="active"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <br>
                </div>

                <div class="question">
                    <br>
                    <h3 style="line-height:1.75"> <b>Estimated amount of light bulb you have in your house?</b></h3>
                    <br>
                    <hr>
                    <div class="row">
                        <div class="w3-center w3-padding-large">
                            <button class="block" id="bulbspa1">1-3</button>
                            <button class="block" id="bulbspa2">4-6</button>
                            <button class="block" id="bulbspa3">7-9</button>
                            <button class="block" id="bulbspa4">10-12</button>
                            <button class="block" id="bulbspa5">13-15</button>
                            <button class="block" id="bulbspa6">16-18</button>
                        </div>
                    </div>


                    <br><br>
                    <div class="container">
                        <ul class="progressbar">
                            <li class="active"></li>
                            <li class="active"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <br>
                </div>

                <div class="question">
                    <br>
                    <h3 style="line-height:1.75"> <b>What is the type of bulb you are using? </b></h3>
                    <br>
                    <hr>
                    <div class="row">
                        <div class="w3-center w3-padding-large">
                            <button class="block" id="btype1">Halogen</button>
                            <button class="block" id="btype2">LED</button>
                            <button class="block" id="btype3">Incandescent </button>
                            <button class="block" id="btype4">Fluorescent tube</button>

                        </div>
                    </div>


                    <br><br>
                    <div class="container">
                        <ul class="progressbar">
                            <li class="active"></li>
                            <li class="active"></li>
                            <li class="active"></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <br>
                </div>

                <div class="question">
                    <br>
                    <div>
                        <h3 style="line-height:1.75"> <b>Estimated the length of times you turn on your light:  </b></h3>
                        <br>
                        <hr>
                        <button class="block" id="btime1">0-3 hours</button>
                        <button class="block" id="btime2">4-6 hours</button>
                        <button class="block" id="btime3">7-9 hours</button>
                        <button class="block" id="btime4">10 hours or more</button>
                        <br><br>
                        <div class="container">
                            <ul class="progressbar">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>

                            </ul>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="question">
                    <br>
                    <div>
                        <h3 style="line-height:1.75"> <b>How many lights are usually on? </b></h3>
                        <br>
                        <hr>
                        <button class="block" id="bnumber1">1-2 bulbs</button>
                        <button class="block" id="bnumber2">3-4 bulbs</button>
                        <button class="block" id="bnumber3">5-6 bulbs</button>
                        <button class="block" id="bnumber4">7 bulbs or more</button>
                        <br><br>
                        <div class="container">
                            <ul class="progressbar">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>

                            </ul>
                        </div>
                    </div>
                    <br>
                </div>


            </div>
        </div>
    </div>
</div>

<div id="result" style="display:none">
    <div class="w3-padding-32 w3-center">
        <h1><b>  Bulb Quiz Result</b></h1>
    </div>
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-third" >
            <div class="w3-container w3-red w3-padding-16">
                <div class="w3-left" style="height:100px">
                    <p>Your bulb consumption per week (kw):</p>
                    <h2 id="userconsume"> </h2> 
                </div>
            </div>
        </div>
        <div class="w3-third">
            <div class="w3-container w3-blue w3-padding-16">
                <div class="w3-left" style="height:100px">
                    <p>
                        Average household bulb consumption per week (kw):
                    </p>
                    <h2 id="bconsume"></h2>

                </div>
            </div>
        </div>
        <div class="w3-third">
            <div class="w3-container w3-teal w3-padding-16">
                <div class="w3-left" style="height:100px">
                    <p>The amount of similar lights people own as you had (units):
                    </p>
                    <h2 id="bulbown"></h2>

                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="w3-content w3-center">
            <div style="padding:20px;padding-right:5%;">
                <p>Thank you for taking your time with us!</p>
                <h1><b>Our Suggestion to You:</b></h1>
                <div id="sug1" style="display:none;line-height:1.75;"><p>Reduce the amount of turning on bulb. </p></div>
                <div id="sug2" style="display:none;line-height:1.75;"><p>Reduce the length of time turning on the bulb.</p></div>
                <div id="sug3" style="display:none;line-height:1.75;"><p>Change your bulb type to LED/Fluorescent/CFL.</p></div>
                <div id="sug4" style="line-height:1.75;"><p>You are doing great in bulb section.</p></div>
            </div>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="w3-container w3-center w3-padding-32">
            <p>   <div id="chartContainer" style="height: 500px; width: 100%;padding:20px;padding-right:5%;"></div></p>

        </div>
    </div>
</div>

<script>
    var q1;
    var q2;
    var q3;
    var q4;
    var q5;

    $('#act').click(function () {
        var $act = $('.question.active');
        $('.question').removeClass('active');
        $act.next().addClass('active');
        q1 = 0;
        return q1;
    });


    $('#nsw').click(function () {
        var $nsw = $('.question.active');
        $('.question').removeClass('active');
        $nsw.next().addClass('active');
        q1 = 1;
        return q1;
    });

    $('#nt').click(function () {
        var $nt = $('.question.active');
        $('.question').removeClass('active');
        $nt.next().addClass('active');
        q1 = 2;
        return q1;
    });

    $('#qld').click(function () {
        var $qld = $('.question.active');
        $('.question').removeClass('active');
        $qld.next().addClass('active');
        q1 = 3;
        return q1;
    });


    $('#sa').click(function () {
        var $sa = $('.question.active');
        $('.question').removeClass('active');
        $sa.next().addClass('active');
        q1 = 4;
        return q1;
    });


    $('#tas').click(function () {
        var $tas = $('.question.active');
        $('.question').removeClass('active');
        $tas.next().addClass('active');
        q1 = 5;
        return q1;
    });

    $('#vic').click(function () {
        var $vic = $('.question.active');
        $('.question').removeClass('active');
        $vic.next().addClass('active');
        q1 = 6;
        return q1;
    });

    $('#wa').click(function () {
        var $wa = $('.question.active');
        $('.question').removeClass('active');
        $wa.next().addClass('active');
        q1 = 7;
        return q1;
    });

     $('#bulbspa1').click(function () {
        var $bulbspa = $('.question.active');
        $('.question').removeClass('active');
        $bulbspa.next().addClass('active');
        q2 = 0;
        return q2;
    });

    $('#bulbspa2').click(function () {
        var $bulbspa = $('.question.active');
        $('.question').removeClass('active');
        $bulbspa.next().addClass('active');
        q2 = 1;
        return q2;
    });
    $('#bulbspa3').click(function () {
        var $bulbspa = $('.question.active');
        $('.question').removeClass('active');
        $bulbspa.next().addClass('active');
        q2 = 2;
        return q2;
    });

     $('#bulbspa4').click(function () {
        var $bulbspa = $('.question.active');
        $('.question').removeClass('active');
        $bulbspa.next().addClass('active');
        q2 = 3;
        return q2;
     });

     $('#bulbspa5').click(function () {
        var $bulbspa = $('.question.active');
        $('.question').removeClass('active');
        $bulbspa.next().addClass('active');
        q2 = 4;
        return q2;
     });

     $('#bulbspa6').click(function () {
        var $bulbspa = $('.question.active');
        $('.question').removeClass('active');
        $bulbspa.next().addClass('active');
        q2 = 5;
        return q2;
     });

         $('#btype1').click(function () {
        var $bulbtype = $('.question.active');
        $('.question').removeClass('active');
        $bulbtype.next().addClass('active');
        q3 = 0;
        return q3;
         });

      $('#btype2').click(function () {
        var $bulbtype = $('.question.active');
        $('.question').removeClass('active');
        $bulbtype.next().addClass('active');
        q3 = 1;
        return q3;
      });

      $('#btype3').click(function () {
        var $bulbtype = $('.question.active');
        $('.question').removeClass('active');
        $bulbtype.next().addClass('active');
        q3 = 2;
        return q3;
      });

      $('#btype4').click(function () {
        var $bulbtype = $('.question.active');
        $('.question').removeClass('active');
        $bulbtype.next().addClass('active');
        q3 = 3;
        return q3;
      });

     $('#btime1').click(function () {
        var $bulbtime = $('.question.active');
        $('.question').removeClass('active');
        $bulbtime.next().addClass('active');
        q4 = 0;
        return q4;
     });

     $('#btime2').click(function () {
        var $bulbtime = $('.question.active');
        $('.question').removeClass('active');
        $bulbtime.next().addClass('active');
        q4 = 1;
        return q4;
     });

      $('#btime3').click(function () {
        var $bulbtime = $('.question.active');
        $('.question').removeClass('active');
        $bulbtime.next().addClass('active');
        q4 = 2;
        return q4;
      });

      $('#btime4').click(function () {
        var $bulbtime = $('.question.active');
        $('.question').removeClass('active');
        $bulbtime.next().addClass('active');
        q4 = 3;
        return q4;
      });

      $('#bnumber1').click(function () {
       document.getElementById('quiz').style.display = 'none';
           document.getElementById('result').style.display = 'initial';
          q5 = 0;
          if (q1 == 0 && q3 == 0) { $("#bulbown").text(" ACT Halogen: 1.79 ");   document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 1 && q3 == 0) { $("#bulbown").text(" NSW Halogen: 4.11 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 2 && q3 == 0) { $("#bulbown").text(" NT Halogen: 2.03 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 3 && q3 == 0) { $("#bulbown").text(" QLD Halogen: 2.87 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 4 && q3 == 0) { $("#bulbown").text(" SA Halogen: 1.63"); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 5 && q3 == 0) { $("#bulbown").text(" TAS Halogen: 3.68 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 6 && q3 == 0) { $("#bulbown").text(" VIC Halogen: 4.11 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 7 && q3 == 0) { $("#bulbown").text(" WA Halogen: 4.02 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
     
              if (q1 == 0 && q3 == 1) { $("#bulbown").text(" ACT LED: 0.53"); }
          if (q1 == 1 && q3 == 1) { $("#bulbown").text(" NSW LED: 0.42 "); }
          if (q1 == 2 && q3 == 1) { $("#bulbown").text(" NT LED: 0.43 "); }
          if (q1 == 3 && q3 == 1) { $("#bulbown").text(" QLD LED: 0.31 "); }
          if (q1 == 4 && q3 == 1) { $("#bulbown").text(" SA LED: 0.1"); }
          if (q1 == 5 && q3 == 1) { $("#bulbown").text(" TAS LED: 0.44 "); }
          if (q1 == 6 && q3 == 1) { $("#bulbown").text(" VIC LED: 0.42 "); }
          if (q1 == 7 && q3 == 1) { $("#bulbown").text(" WA LED: 0.50 "); }

              if (q1 == 0 && q3 == 2) { $("#bulbown").text(" ACT Incandescent: 3.46"); }
          if (q1 == 1 && q3 == 2) { $("#bulbown").text(" NSW Incandescent: 3.76 "); }
          if (q1 == 2 && q3 == 2) { $("#bulbown").text(" NT Incandescent: 0.83 "); }
          if (q1 == 3 && q3 == 2) { $("#bulbown").text(" QLD Incandescent: 3.43 "); }
          if (q1 == 4 && q3 == 2) { $("#bulbown").text(" SA Incandescent: 2.62"); }
          if (q1 == 5 && q3 == 2) { $("#bulbown").text(" TAS Incandescent: 3.49 "); }
          if (q1 == 6 && q3 == 2) { $("#bulbown").text(" VIC Incandescent: 3.76 "); }
          if (q1 == 7 && q3 == 2) { $("#bulbown").text(" WA Incandescent: 3.24 "); }

          
              if (q1 == 0 && q3 == 3) { $("#bulbown").text(" ACT Fluorescent: 1.19"); }
          if (q1 == 1 && q3 == 3) { $("#bulbown").text(" NSW Fluorescent: 0.68 "); }
          if (q1 == 2 && q3 == 3) { $("#bulbown").text(" NT Fluorescent: 1.63 "); }
          if (q1 == 3 && q3 == 3) { $("#bulbown").text(" QLD Fluorescent: 0.86 "); }
          if (q1 == 4 && q3 == 3) { $("#bulbown").text(" SA Fluorescent: 1.69"); }
          if (q1 == 5 && q3 == 3) { $("#bulbown").text(" TAS Fluorescent: 0.68 "); }
          if (q1 == 6 && q3 == 3) { $("#bulbown").text(" VIC Fluorescent: 0.68 "); }
          if (q1 == 7 && q3 == 3) { $("#bulbown").text(" WA Fluorescent: 0.74 "); }

                if (q1 == 0 ) { $("#bconsume").text(" ACT: 1.0836");  }
            if (q1 == 1 ) { $("#bconsume").text(" NSW: 5.7491  "); }
            if (q1 == 2 ) { $("#bconsume").text(" NT: 5.4375");  }
            if (q1 == 3 ) { $("#bconsume").text(" QLD: 4.2141");}
            if (q1 == 4 ) { $("#bconsume").text(" SA: 3.363");  }
            if (q1 == 5 ) { $("#bconsume").text(" TAS: 3.9353"); }
            if (q1 == 6 ) { $("#bconsume").text(" VIC: 4.5108 ");  }
            if (q1 == 7 ) { $("#bconsume").text(" WA: 4.5059"); }

        
          var bulbspent;
          if (q4 == 0 && q3 == 0) { bulbspent=0.042*2 }
            if (q4 == 1 && q3==0) {bulbspent=0.042*5 }
            if (q4 == 2 && q3==0) {  bulbspent=0.042*8 }
          if (q4 == 3 && q3 == 0) {bulbspent=0.042*11 }

           if (q4 == 0 && q3==1 ) {bulbspent=0.009*2 }
            if (q4 == 1 && q3==1) {bulbspent=0.009*5 }
            if (q4 == 2 && q3==1) {   bulbspent=0.009*8}
            if (q4 == 3 && q3==1) { bulbspent=0.009*11}

          
           if (q4 == 0 && q3==2 ) { bulbspent=0.06*2}
            if (q4 == 1 && q3==2) {bulbspent=0.06*5 }
            if (q4 == 2 && q3==2) {   bulbspent=0.06*8}
            if (q4 == 3 && q3==2) { bulbspent=0.06*11}

          
           if (q4 == 0 && q3==3 ) {bulbspent=0.016*2 }
            if (q4 == 1 && q3==3) {bulbspent=0.016*5 }
            if (q4 == 2 && q3==3) {   bulbspent=0.016*8}
          if (q4 == 3 && q3 == 3) { bulbspent = 0.016 * 11 }
          var totalspent = bulbspent * 1.5*7;
          document.getElementById("userconsume").innerHTML = totalspent;
          
           //==============================================================================================
          var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    theme: "light2", // "light1", "light2", "dark1", "dark2"
                    title: {
                    text: "Your Usage vs Average Bulb Consumption in Australia"
                    },
                    axisY: {
                        title: "amount spend(kW)"
                    },
                    data: [{
                        type: "column",

                        dataPoints: [
                            { y: totalspent, label: "You" },
                            { y: 1.0836, label: "ACT" },
                            { y:  5.7491, label: "NSW" },
                            { y: 5.4375, label: "NT" },
                            { y: 4.2141, label: "QLD" },
                            { y: 3.363, label: "SA" },
                            { y:  3.9353 , label: "TAS" },
                            { y: 4.5108, label: "VIC" },
                            { y: 4.5059, label: "WA" }
                        ]
                    }]
                });
           chart.render();
      });

    
      $('#bnumber2').click(function () {
       document.getElementById('quiz').style.display = 'none';
           document.getElementById('result').style.display = 'initial';
          q5 = 1;
               if (q1 == 0 && q3 == 0) { $("#bulbown").text(" ACT Halogen: 1.79 ");   document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 1 && q3 == 0) { $("#bulbown").text(" NSW Halogen: 4.11 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 2 && q3 == 0) { $("#bulbown").text(" NT Halogen: 2.03 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 3 && q3 == 0) { $("#bulbown").text(" QLD Halogen: 2.87 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 4 && q3 == 0) { $("#bulbown").text(" SA Halogen: 1.63"); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 5 && q3 == 0) { $("#bulbown").text(" TAS Halogen: 3.68 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 6 && q3 == 0) { $("#bulbown").text(" VIC Halogen: 4.11 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 7 && q3 == 0) { $("#bulbown").text(" WA Halogen: 4.02 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
     
              if (q1 == 0 && q3 == 1) { $("#bulbown").text(" ACT LED: 0.53"); }
          if (q1 == 1 && q3 == 1) { $("#bulbown").text(" NSW LED: 0.42 "); }
          if (q1 == 2 && q3 == 1) { $("#bulbown").text(" NT LED: 0.43 "); }
          if (q1 == 3 && q3 == 1) { $("#bulbown").text(" QLD LED: 0.31 "); }
          if (q1 == 4 && q3 == 1) { $("#bulbown").text(" SA LED: 0.1"); }
          if (q1 == 5 && q3 == 1) { $("#bulbown").text(" TAS LED: 0.44 "); }
          if (q1 == 6 && q3 == 1) { $("#bulbown").text(" VIC LED: 0.42 "); }
          if (q1 == 7 && q3 == 1) { $("#bulbown").text(" WA LED: 0.50 "); }

              if (q1 == 0 && q3 == 2) { $("#bulbown").text(" ACT Incandescent: 3.46"); }
          if (q1 == 1 && q3 == 2) { $("#bulbown").text(" NSW Incandescent: 3.76 "); }
          if (q1 == 2 && q3 == 2) { $("#bulbown").text(" NT Incandescent: 0.83 "); }
          if (q1 == 3 && q3 == 2) { $("#bulbown").text(" QLD Incandescent: 3.43 "); }
          if (q1 == 4 && q3 == 2) { $("#bulbown").text(" SA Incandescent: 2.62"); }
          if (q1 == 5 && q3 == 2) { $("#bulbown").text(" TAS Incandescent: 3.49 "); }
          if (q1 == 6 && q3 == 2) { $("#bulbown").text(" VIC Incandescent: 3.76 "); }
          if (q1 == 7 && q3 == 2) { $("#bulbown").text(" WA Incandescent: 3.24 "); }

          
              if (q1 == 0 && q3 == 3) { $("#bulbown").text(" ACT Fluorescent: 1.19"); }
          if (q1 == 1 && q3 == 3) { $("#bulbown").text(" NSW Fluorescent: 0.68 "); }
          if (q1 == 2 && q3 == 3) { $("#bulbown").text(" NT Fluorescent: 1.63 "); }
          if (q1 == 3 && q3 == 3) { $("#bulbown").text(" QLD Fluorescent: 0.86 "); }
          if (q1 == 4 && q3 == 3) { $("#bulbown").text(" SA Fluorescent: 1.69"); }
          if (q1 == 5 && q3 == 3) { $("#bulbown").text(" TAS Fluorescent: 0.68 "); }
          if (q1 == 6 && q3 == 3) { $("#bulbown").text(" VIC Fluorescent: 0.68 "); }
          if (q1 == 7 && q3 == 3) { $("#bulbown").text(" WA Fluorescent: 0.74 "); }

                if (q1 == 0 ) { $("#bconsume").text(" ACT: 1.0836");  }
            if (q1 == 1 ) { $("#bconsume").text(" NSW: 5.7491  "); }
            if (q1 == 2 ) { $("#bconsume").text(" NT: 5.4375");  }
            if (q1 == 3 ) { $("#bconsume").text(" QLD: 4.2141");}
            if (q1 == 4 ) { $("#bconsume").text(" SA: 3.363");  }
            if (q1 == 5 ) { $("#bconsume").text(" TAS: 3.9353"); }
            if (q1 == 6 ) { $("#bconsume").text(" VIC: 4.5108 ");  }
            if (q1 == 7 ) { $("#bconsume").text(" WA: 4.5059"); }

       
          var bulbspent;
          if (q4 == 0 && q3 == 0) { bulbspent=0.042*2 }
            if (q4 == 1 && q3==0) {bulbspent=0.042*5 }
            if (q4 == 2 && q3==0) {  bulbspent=0.042*8 }
          if (q4 == 3 && q3 == 0) {bulbspent=0.042*11 }

           if (q4 == 0 && q3==1 ) {bulbspent=0.009*2 }
            if (q4 == 1 && q3==1) {bulbspent=0.009*5 }
            if (q4 == 2 && q3==1) {   bulbspent=0.009*8}
            if (q4 == 3 && q3==1) { bulbspent=0.009*11}

          
           if (q4 == 0 && q3==2 ) { bulbspent=0.06*2}
            if (q4 == 1 && q3==2) {bulbspent=0.06*5 }
            if (q4 == 2 && q3==2) {   bulbspent=0.06*8}
            if (q4 == 3 && q3==2) { bulbspent=0.06*11}

          
           if (q4 == 0 && q3==3 ) {bulbspent=0.016*2 }
            if (q4 == 1 && q3==3) {bulbspent=0.016*5 }
            if (q4 == 2 && q3==3) {   bulbspent=0.016*8}
          if (q4 == 3 && q3 == 3) { bulbspent = 0.016 * 11 }
          var totalspent = bulbspent * 3.5*7;
          document.getElementById("userconsume").innerHTML = totalspent;
          
           //==============================================================================================
          var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    theme: "light2", // "light1", "light2", "dark1", "dark2"
                    title: {
                    text: "Your Usage vs Average Bulb Consumption in Australia"
                    },
                    axisY: {
                        title: "amount spend(kW)"
                    },
                    data: [{
                        type: "column",

                        dataPoints: [
                            { y: totalspent, label: "You" },
                            { y: 1.0836, label: "ACT" },
                            { y:  5.7491, label: "NSW" },
                            { y: 5.4375, label: "NT" },
                            { y: 4.2141, label: "QLD" },
                            { y: 3.363, label: "SA" },
                            { y:  3.9353 , label: "TAS" },
                            { y: 4.5108, label: "VIC" },
                            { y: 4.5059, label: "WA" }
                        ]
                    }]
                });
           chart.render();
      });

    
      $('#bnumber3').click(function () {
    
          q5 = 2;

             document.getElementById('quiz').style.display = 'none';
           document.getElementById('result').style.display = 'initial';
           if (q1 == 0 && q3 == 0) { $("#bulbown").text(" ACT Halogen: 1.79 ");   document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 1 && q3 == 0) { $("#bulbown").text(" NSW Halogen: 4.11 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 2 && q3 == 0) { $("#bulbown").text(" NT Halogen: 2.03 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 3 && q3 == 0) { $("#bulbown").text(" QLD Halogen: 2.87 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 4 && q3 == 0) { $("#bulbown").text(" SA Halogen: 1.63"); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 5 && q3 == 0) { $("#bulbown").text(" TAS Halogen: 3.68 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 6 && q3 == 0) { $("#bulbown").text(" VIC Halogen: 4.11 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 7 && q3 == 0) { $("#bulbown").text(" WA Halogen: 4.02 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
     
              if (q1 == 0 && q3 == 1) { $("#bulbown").text(" ACT LED: 0.53"); }
          if (q1 == 1 && q3 == 1) { $("#bulbown").text(" NSW LED: 0.42 "); }
          if (q1 == 2 && q3 == 1) { $("#bulbown").text(" NT LED: 0.43 "); }
          if (q1 == 3 && q3 == 1) { $("#bulbown").text(" QLD LED: 0.31 "); }
          if (q1 == 4 && q3 == 1) { $("#bulbown").text(" SA LED: 0.1"); }
          if (q1 == 5 && q3 == 1) { $("#bulbown").text(" TAS LED: 0.44 "); }
          if (q1 == 6 && q3 == 1) { $("#bulbown").text(" VIC LED: 0.42 "); }
          if (q1 == 7 && q3 == 1) { $("#bulbown").text(" WA LED: 0.50 "); }

              if (q1 == 0 && q3 == 2) { $("#bulbown").text(" ACT Incandescent: 3.46"); }
          if (q1 == 1 && q3 == 2) { $("#bulbown").text(" NSW Incandescent: 3.76 "); }
          if (q1 == 2 && q3 == 2) { $("#bulbown").text(" NT Incandescent: 0.83 "); }
          if (q1 == 3 && q3 == 2) { $("#bulbown").text(" QLD Incandescent: 3.43 "); }
          if (q1 == 4 && q3 == 2) { $("#bulbown").text(" SA Incandescent: 2.62"); }
          if (q1 == 5 && q3 == 2) { $("#bulbown").text(" TAS Incandescent: 3.49 "); }
          if (q1 == 6 && q3 == 2) { $("#bulbown").text(" VIC Incandescent: 3.76 "); }
          if (q1 == 7 && q3 == 2) { $("#bulbown").text(" WA Incandescent: 3.24 "); }

          
              if (q1 == 0 && q3 == 3) { $("#bulbown").text(" ACT Fluorescent: 1.19"); }
          if (q1 == 1 && q3 == 3) { $("#bulbown").text(" NSW Fluorescent: 0.68 "); }
          if (q1 == 2 && q3 == 3) { $("#bulbown").text(" NT Fluorescent: 1.63 "); }
          if (q1 == 3 && q3 == 3) { $("#bulbown").text(" QLD Fluorescent: 0.86 "); }
          if (q1 == 4 && q3 == 3) { $("#bulbown").text(" SA Fluorescent: 1.69"); }
          if (q1 == 5 && q3 == 3) { $("#bulbown").text(" TAS Fluorescent: 0.68 "); }
          if (q1 == 6 && q3 == 3) { $("#bulbown").text(" VIC Fluorescent: 0.68 "); }
          if (q1 == 7 && q3 == 3) { $("#bulbown").text(" WA Fluorescent: 0.74 "); }

                if (q1 == 0 ) { $("#bconsume").text(" ACT: 1.0836");  }
            if (q1 == 1 ) { $("#bconsume").text(" NSW: 5.7491  "); }
            if (q1 == 2 ) { $("#bconsume").text(" NT: 5.4375");  }
            if (q1 == 3 ) { $("#bconsume").text(" QLD: 4.2141");}
            if (q1 == 4 ) { $("#bconsume").text(" SA: 3.363");  }
            if (q1 == 5 ) { $("#bconsume").text(" TAS: 3.9353"); }
            if (q1 == 6 ) { $("#bconsume").text(" VIC: 4.5108 ");  }
            if (q1 == 7 ) { $("#bconsume").text(" WA: 4.5059"); }

          var bulbspent;
          if (q4 == 0 && q3 == 0) { bulbspent=0.042*2 }
            if (q4 == 1 && q3==0) {bulbspent=0.042*5 }
            if (q4 == 2 && q3==0) {  bulbspent=0.042*8 }
          if (q4 == 3 && q3 == 0) {bulbspent=0.042*11 }

           if (q4 == 0 && q3==1 ) {bulbspent=0.009*2 }
            if (q4 == 1 && q3==1) {bulbspent=0.009*5 }
            if (q4 == 2 && q3==1) {   bulbspent=0.009*8}
            if (q4 == 3 && q3==1) { bulbspent=0.009*11}

          
           if (q4 == 0 && q3==2 ) { bulbspent=0.06*2}
            if (q4 == 1 && q3==2) {bulbspent=0.06*5 }
            if (q4 == 2 && q3==2) {   bulbspent=0.06*8}
            if (q4 == 3 && q3==2) { bulbspent=0.06*11}

          
           if (q4 == 0 && q3==3 ) {bulbspent=0.016*2 }
            if (q4 == 1 && q3==3) {bulbspent=0.016*5 }
            if (q4 == 2 && q3==3) {   bulbspent=0.016*8}
          if (q4 == 3 && q3 == 3) { bulbspent = 0.016 * 11 }
          var totalspent = bulbspent * 5.5*7;
          document.getElementById("userconsume").innerHTML = totalspent;
          
           //==============================================================================================
          var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    theme: "light2", // "light1", "light2", "dark1", "dark2"
                    title: {
                    text: "Your Usage vs Average Bulb Consumption in Australia"
                    },
                    axisY: {
                        title: "amount spend(kW)"
                    },
                    data: [{
                        type: "column",

                        dataPoints: [
                            { y: totalspent, label: "You" },
                            { y: 1.0836, label: "ACT" },
                            { y:  5.7491, label: "NSW" },
                            { y: 5.4375, label: "NT" },
                            { y: 4.2141, label: "QLD" },
                            { y: 3.363, label: "SA" },
                            { y:  3.9353 , label: "TAS" },
                            { y: 4.5108, label: "VIC" },
                            { y: 4.5059, label: "WA" }
                        ]
                    }]
                });
           chart.render();
      });

    
      $('#bnumber4').click(function () {
       document.getElementById('quiz').style.display = 'none';
           document.getElementById('result').style.display = 'initial';
        q5 = 3;
           if (q1 == 0 && q3 == 0) { $("#bulbown").text(" ACT Halogen: 1.79 ");   document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 1 && q3 == 0) { $("#bulbown").text(" NSW Halogen: 4.11 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 2 && q3 == 0) { $("#bulbown").text(" NT Halogen: 2.03 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 3 && q3 == 0) { $("#bulbown").text(" QLD Halogen: 2.87 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 4 && q3 == 0) { $("#bulbown").text(" SA Halogen: 1.63"); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 5 && q3 == 0) { $("#bulbown").text(" TAS Halogen: 3.68 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 6 && q3 == 0) { $("#bulbown").text(" VIC Halogen: 4.11 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
          if (q1 == 7 && q3 == 0) { $("#bulbown").text(" WA Halogen: 4.02 "); document.getElementById('sug1').style.display = 'initial';document.getElementById('sug4').style.display = 'none';}
     
              if (q1 == 0 && q3 == 1) { $("#bulbown").text(" ACT LED: 0.53"); }
          if (q1 == 1 && q3 == 1) { $("#bulbown").text(" NSW LED: 0.42 "); }
          if (q1 == 2 && q3 == 1) { $("#bulbown").text(" NT LED: 0.43 "); }
          if (q1 == 3 && q3 == 1) { $("#bulbown").text(" QLD LED: 0.31 "); }
          if (q1 == 4 && q3 == 1) { $("#bulbown").text(" SA LED: 0.1"); }
          if (q1 == 5 && q3 == 1) { $("#bulbown").text(" TAS LED: 0.44 "); }
          if (q1 == 6 && q3 == 1) { $("#bulbown").text(" VIC LED: 0.42 "); }
          if (q1 == 7 && q3 == 1) { $("#bulbown").text(" WA LED: 0.50 "); }

              if (q1 == 0 && q3 == 2) { $("#bulbown").text(" ACT Incandescent: 3.46"); }
          if (q1 == 1 && q3 == 2) { $("#bulbown").text(" NSW Incandescent: 3.76 "); }
          if (q1 == 2 && q3 == 2) { $("#bulbown").text(" NT Incandescent: 0.83 "); }
          if (q1 == 3 && q3 == 2) { $("#bulbown").text(" QLD Incandescent: 3.43 "); }
          if (q1 == 4 && q3 == 2) { $("#bulbown").text(" SA Incandescent: 2.62"); }
          if (q1 == 5 && q3 == 2) { $("#bulbown").text(" TAS Incandescent: 3.49 "); }
          if (q1 == 6 && q3 == 2) { $("#bulbown").text(" VIC Incandescent: 3.76 "); }
          if (q1 == 7 && q3 == 2) { $("#bulbown").text(" WA Incandescent: 3.24 "); }

          
              if (q1 == 0 && q3 == 3) { $("#bulbown").text(" ACT Fluorescent: 1.19"); }
          if (q1 == 1 && q3 == 3) { $("#bulbown").text(" NSW Fluorescent: 0.68 "); }
          if (q1 == 2 && q3 == 3) { $("#bulbown").text(" NT Fluorescent: 1.63 "); }
          if (q1 == 3 && q3 == 3) { $("#bulbown").text(" QLD Fluorescent: 0.86 "); }
          if (q1 == 4 && q3 == 3) { $("#bulbown").text(" SA Fluorescent: 1.69"); }
          if (q1 == 5 && q3 == 3) { $("#bulbown").text(" TAS Fluorescent: 0.68 "); }
          if (q1 == 6 && q3 == 3) { $("#bulbown").text(" VIC Fluorescent: 0.68 "); }
          if (q1 == 7 && q3 == 3) { $("#bulbown").text(" WA Fluorescent: 0.74 "); }

                if (q1 == 0 ) { $("#bconsume").text(" ACT: 1.0836");  }
            if (q1 == 1 ) { $("#bconsume").text(" NSW: 5.7491  "); }
            if (q1 == 2 ) { $("#bconsume").text(" NT: 5.4375");  }
            if (q1 == 3 ) { $("#bconsume").text(" QLD: 4.2141");}
            if (q1 == 4 ) { $("#bconsume").text(" SA: 3.363");  }
            if (q1 == 5 ) { $("#bconsume").text(" TAS: 3.9353"); }
            if (q1 == 6 ) { $("#bconsume").text(" VIC: 4.5108 ");  }
            if (q1 == 7 ) { $("#bconsume").text(" WA: 4.5059"); }

          var bulbspent;
          if (q4 == 0 && q3 == 0) { bulbspent=0.042*2 }
            if (q4 == 1 && q3==0) {bulbspent=0.042*5 }
            if (q4 == 2 && q3==0) {  bulbspent=0.042*8 }
          if (q4 == 3 && q3 == 0) {bulbspent=0.042*11 }

           if (q4 == 0 && q3==1 ) {bulbspent=0.009*2 }
            if (q4 == 1 && q3==1) {bulbspent=0.009*5 }
            if (q4 == 2 && q3==1) {   bulbspent=0.009*8}
            if (q4 == 3 && q3==1) { bulbspent=0.009*11}

          
           if (q4 == 0 && q3==2 ) { bulbspent=0.06*2}
            if (q4 == 1 && q3==2) {bulbspent=0.06*5 }
            if (q4 == 2 && q3==2) {   bulbspent=0.06*8}
            if (q4 == 3 && q3==2) { bulbspent=0.06*11}

          
           if (q4 == 0 && q3==3 ) {bulbspent=0.016*2 }
            if (q4 == 1 && q3==3) {bulbspent=0.016*5 }
            if (q4 == 2 && q3==3) {   bulbspent=0.016*8}
          if (q4 == 3 && q3 == 3) { bulbspent = 0.016 * 11 }
          var totalspent = bulbspent * 7.5*7;
          document.getElementById("userconsume").innerHTML = totalspent;

           //==============================================================================================
          var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    theme: "light2", // "light1", "light2", "dark1", "dark2"
                    title: {
                    text: "Your Usage vs Average Bulb Consumption in Australia"
                    },
                    axisY: {
                        title: "amount spend(kW)"
                    },
                    data: [{
                        type: "column",

                        dataPoints: [
                            { y: totalspent, label: "You" },
                            { y: 1.0836, label: "ACT" },
                            { y:  5.7491, label: "NSW" },
                            { y: 5.4375, label: "NT" },
                            { y: 4.2141, label: "QLD" },
                            { y: 3.363, label: "SA" },
                            { y:  3.9353 , label: "TAS" },
                            { y: 4.5108, label: "VIC" },
                            { y: 4.5059, label: "WA" }
                        ]
                    }]
                });
           chart.render();
    });
  
</script>