@{
    ViewBag.Title = "CommonTips";
}

<!-- Create a div where the graph will take place -->
<div id="my_dataviz" ,charset="utf-8"></div>
<style>
    div.gallery img {
        width: 100%;
        height: 300px;
    }

    div.gallery {
        border: 1px solid #ccc;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }



    div.desc {
        padding: 15px;
        text-align: center;
    }

    * {
        box-sizing: border-box;
    }


    @@media only screen and (max-width: 700px) {
        .responsive {
            width: 49.99999%;
            margin: 6px 0;
        }
    }

    @@media only screen and (max-width: 500px) {
        .responsive {
            width: 100%;
        }
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid" style="padding-top: 50px">
    <h1 style="text-align: center; font-weight:bolder">Which energy would you like to know more?</h1>
</div>
<div class="row" id="tipcateg">
    <div class="col-sm-5 col-sm-offset-1" style="padding-bottom: 20px">
        <div class="gallery">
            <a href="~/Home/Electrictips">
                <img src="~/Images/enerbg.jpg" alt="energy" width="600" height="400" />
                <div class="desc"><h2><b>Electric tips</b></h2></div>
            </a>
        </div>
    </div>
    <div class="col-sm-5 ">
        <div class="gallery">
            <a href="~/Home/Watertips">
                <img src="~/Images/waterbg.jpg" alt="water" width="600" height="400" />
                <div class="desc"><h2><b>Water tips</b></h2></div>
            </a>
        </div>
    </div>
</div>

<br>
<br>
<div class="container" style="padding-left:20px">
    <a class="twitter-share-button"
       href="https://energuctioniteration2.azurewebsites.net/Home/CommonTips">
        Tweet
    </a>
    <script>
        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));</script>



    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like" data-href="https://energuctioniteration2.azurewebsites.net/Home/CommonTips" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
</div>
