@{
    ViewBag.Title = "Electrictips";
}

<style>
   
    * {
        box-sizing: border-box;
    }


    @@media only screen and (max-width: 700px) {
        .responsive {
            width: 49.99999%;
            margin: 6px 0;
        }
    }

    @@media only screen and (max-width: 500px) {
        .responsive {
            width: 100%;
        }
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">


<div class="w3-content" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-right:-15px;margin-left:-15px;margin-top:-23px">
    <img src="~/Images/tipenergy.jpg" style="width:100%;max-height:580px;opacity:0.3" />

    <div class="w3-display-middle w3-container w3-text-black w3-hide-small">

        <h2 style="line-height:1.75;padding-left:20px;padding-right:20px"><b>Electric</b></h2>

        <h1 style="line-height:1.75;padding-left:20px;padding-right:20px;font-size:40px">
            Do you know that our household produce 0.45kg of carbon dioxide produced per kwh of energy that we used in our house?
        </h1>

    </div>
    <div class="w3-display-middle w3-container w3-text-black w3-hide-medium w3-hide-large">

        <h4 style="line-height:1.75;padding-left:5px;padding-right:5px"><b>Eletric</b></h4>

        <p style="line-height:1.75;padding-left:5px;padding-right:5px;font-size:20px">
            Do you know that our household produce 0.45kg of carbon dioxide produced per kwh of energy that we used in our house?
        </p>


    </div>
    <a class="w3-display-right w3-row w3-hide-small w3-hide-medium" href="#electricflow" style="margin-right:2%;margin-top:15%"><p class="fa fa-arrow-circle-down"> Go to Next Section</p></a>
</div>



<br><div class="w3-content" id="electricflow"style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin:-15px;margin-top:-22px;background-color:antiquewhite">
    <div class="container">
        <br><br>
        <h1 style="text-align:center">How electric affect our earth </h1>
    </div>
    <div class="w3-row-padding w3-center w3-margin-top">
        <div class="w3-quarter">
            <div class=" w3-container" style="min-height:300px">
                <h3><b>1</b></h3><br>
                <img src="~/Images/homeelectric.jpg" style="width:120px" />
                <br><br>
                <p>When you start using electric </p>

            </div>
        </div>
        <div class="w3-quarter">
            <div class=" w3-container" style="min-height:300px">
                <h3><b>2</b></h3><br>
                <img src="~/Images/coal.jpg" style="width:120px;" />
                <br><br>
                <p>Your electric supplier generates eletric with various fuel sources including coal, gas, oil</p>
            </div>
        </div>
        <div class="w3-quarter">
            <div class=" w3-container" style="min-height:300px">
                <h3><b>3</b></h3><br>
                <img src="~/Images/factory.jpg" style="width:120px" />
                <br><br>
                <p>When these are burned they create heat and generate into electric</p>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container" style="min-height:300px">
                <h3><b>4</b></h3><br>
                <img src="~/Images/meter.jpg" style="width:120px" />
                <br><br>
                <p>This creates carbon dioxide that is harmful to earth</p>
            </div>
        </div>
    </div>

</div>
    <br>
    <a class="w3-right w3-row" href="#etip" style="margin-right:2%"><p class="fa fa-arrow-circle-down"> Go to Next Section</p></a>
    <br>

    <div class="container" id="etip">
        <h1 style="text-align:center"><b>Tips to Save Electric At Your Home</b> </h1>
    </div>
    <br>


    <div class="w3-row-padding w3-center w3-margin-top">
        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:280px;">

                <br>
                <h3><b>Air conditioner</b></h3><br>
                <a href="~/Home/Etip1">
                    <img src="~/Images/aircon.jpg" style="width:120px" />

                    <p><b>Turn off your air conditioner when you are not home </b></p>

                </a>

            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:280px;">
                <br>
                <h3><b>Fridge</b></h3><br>
                <a href="~/Home/EtipFridge">
                    <img src="~/Images/fridopen.jpg" style="width:120px" />


                    <p><b>Set your fridge to the correct temperature</b></p>

                </a>

            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:280px;">
                <br>
                <h3><b>Bulb Type</b></h3><br>
                <a href="~/Home/EtipBulb">
                    <img src="~/Images/bulbpic.png" style="width:120px" />

                    <p><b>Use correct type of bulbs</b></p>
                </a>

            </div>
        </div>
        <div class="container">
            <br><br>
        </div>
        <br><br>
        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:280px;">
                <br>
                <h3><b>Dryer</b></h3><br>
                <a href="~/Home/EtipDryer">

                    <img src="~/Images/off pic.png" style="width:120px" />

                    <p><b>Try to reduce your times using dryers</b></p>
                </a>

            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:280px;">
                <br>
                <h3><b>Water Heating System</b></h3><br>
                <a href="~/Home/EtipWaterSystem">

                    <img src="~/Images/waterheating.jpg" style="width:120px" />
                    <p><b>Switch to gas heating system from electric</b></p>
                </a>

            </div>
        </div>
    </div>






    <br>

    <br>
    <br>
    <br>
    <div class="container" style="text-align:center">
        <b><a class="btn btn-default" style="text-align: center;" href="~/Home/Commontips">< Back</a></b>
    </div>
    <br>
    <br>
    <br>


    <script>
        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));</script>

    <div class="container" style="padding-left:20px">
        <a class="twitter-share-button"
           href="https://energuctioniteration2.azurewebsites.net/Home/Electrictips">
            Tweet
        </a>


        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-like" data-href="https://energuctioniteration2.azurewebsites.net/Home/Electrictips" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
    </div>
