@{
    ViewBag.Title = "EtipTurnOFFAC";
}


<br>
<br>
<br>
<b><a class="btn btn-default" style="text-align: center;" href="~/Home/Electrictips">< Back</a></b>
<br>
<br>
<br>
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">

            <a data-toggle="collapse">

                <b>Always turn off your AC/heater before you leave your house</b>
            </a>

        </h2>

    </div>



    <div class="panel-body">

        <p>
            Especially, some of the house owners have upstairs and downstairs air conditioner/heater highly drove the energy usage.
            In this case, if you have
            <b> two, turn on the only one </b>
            that you will be at.

        </p>
        <br>
        <p>
            Surprisingly, when we go through the data, we found out heating your home almost occupied half of the electric bills.
            Most people left their air conditioner on even they left their house to keep their house nice and warm.
            Although, it will be cold if you are coming home from outside or moving from downstairs to upstairs,
            try to
            <b>wear jacket before air conditioner or heater warm your house.</b>
            This can help you save a lot of the electric usage.
        </p>
        <br><br><br>

        <div class='tableauPlaceholder' id='viz1599042985634' style='position: relative'><noscript><a href=' '>< img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IE&#47;IEproject-purpose&#47;Sheet4&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='name' value='IEproject-purpose&#47;Sheet4' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IE&#47;IEproject-purpose&#47;Sheet4&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-GB' /><param name='filter' value='publish=yes' /></object></div>
        <script type='text/javascript'>var divElement = document.getElementById('viz1599042985634'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
        <br><br>
        <div class="container" style="text-align:center">
            <a href="https://www.canstarblue.com.au/electricity/winter-heating-costs-explained/" target="_blank">
                <img class="col-sm-8 col-sm-offset-2" id="canstar" src="~/Images/cost of ac.png">
            </a>

        </div>
        <p style="text-align:center;font-size:8px"><i>source from canstarblue</i></p>
        <a class="btn-link" href="https://www.canstarblue.com.au/electricity/winter-heating-costs-explained/" target=" _blank" style="text-align:left">Learn more About Heat Cost</a>

    </div>

</div>




<br>
<br>


<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>

<div class="container" style="padding-left:20px">
    <a class="twitter-share-button"
       href="https://energuction.azurewebsites.net/Home/Etip1">
        Tweet
    </a>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like" data-href="https://energuction.azurewebsites.net/Home/Etip1" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
    </div>