@{
    ViewBag.Title = "EtipDryer";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

<style>
    .ml7 {
        position: relative;
        font-weight: 300;
        font-size: 30px;
    }

        .ml7 .text-wrapper {
            position: relative;
            display: inline-block;
            padding-top: 0.2em;
            padding-right: 0.05em;
            padding-bottom: 0.1em;
            overflow: hidden;
        }

        .ml7 .letter {
            display: inline-block;
            line-height: 1.75em;
        }
</style>

<div class="w3-content" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-right:-15px;margin-left:-15px;margin-top:-23px;">
    <br>

    <b><a class="btn btn-default" style="text-align: center;margin-left:2%" href="~/Home/Electrictips">< Back</a></b>
    <br>
</div>

<h1 style="text-align:center">Dryer Tips</h1>
<br>
<img class="w3-hide-medium w3-hide-small" src="~/Images/stress bill.jpg" style="border-radius:50%;width:200px;height:200px;position:absolute;margin-left:2%;margin-top:2%" />
<br>
<br>
<div class="w3-content w3-center w3-wide" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-left:-15px;margin-right:-15px;background-color:#84B8FB">
    <br>

    <h1 style="text-align:center;margin-left:25%;width:70%">   <b>Try to hang to dry your cloth instead of using dryer</b></h1>
    <br>
</div>

<div class="w3-row w3-container" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-left:-15px;margin-right:-15px;">


    <div class="w3-half" style="padding:5%;line-height:1.75em;width:70%">

        <div class="text-wrapper">

            <h1 class="ml7" style="line-height:2.25em">
                <span class="letters">
                    Energy cost of the dryer per 45mins is an average of $0.36.
                </span>

            </h1>
        </div>


    </div>
    <div class="w3-center w3-black w3-text-white w3-padding-32 w3-bar-block w3-hide-medium w3-hide-small" style="border-radius:50%;width:200px;height:200px;margin-top:6.5%;margin-left:70%;position:absolute;">
        <div class="w3-bar-item w3-black">
            <h1><b>$0.36</b></h1>
            <p>per 45 minutes</p>
        </div>
        <div class="w3-bar-item w3-white">

            <h1><b>$11.50</b></h1>
            <p>8 loads per week</p>

        </div>
    </div>
    <div class="w3-center w3-black w3-text-white w3-padding-32 w3-bar-block w3-hide-large w3-hide-small" style="border-radius:50%;margin-left:70%;position:absolute;margin-top:-3%">
        <div class="w3-bar-item w3-black">
            <h1><b>$0.36</b></h1>
            <p>per 45 minutes</p>
        </div>
        <div class="w3-bar-item w3-white">

            <h1><b>$11.50</b></h1>
            <p>8 loads per week</p>

        </div>
    </div>
</div>

<div class="w3-row w3-container" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-left:-15px;margin-right:-15px;background-color:#BDD3FF">
    <div class="w3-half w3-right" style="padding:5%;margin-top:5%;line-height:1.75em;width:70%">

        <div class="text-wrapper">

            <h1 class="ml7" style="line-height:2.25em">
                <span class="letters">
                    Doing 8 loads per week, a month will cost about $11.50. Energy wasted is 2.475kW per hour.

                </span>
            </h1>
        </div>


    </div>
    <div class="w3-center w3-black w3-text-white w3-padding-32 w3-bar-block w3-hide-medium w3-hide-small" style="border-radius:50%;width:200px;height:200px;margin-top:15.4%;margin-left:10%;position:absolute;">
        <div class="w3-bar-item w3-white" style="border-radius:50%">
            <h1><b>2.475 kW</b></h1>
            <p>per hour</p>
        </div>
        <div class="w3-bar-item w3-black">
            <p>use only</p>
            <h1> <b>when urgent</b></h1>


        </div>
    </div>
    <div class="w3-center w3-black w3-text-white w3-padding-32 w3-bar-block w3-hide-large w3-hide-small" style="border-radius:50%;width:200px;height:200px;margin-left:5%;margin-top:-5%;position:absolute;">
        <div class="w3-bar-item w3-white" style="border-radius:50%">
            <h1><b>2.475 kW</b></h1>
            <p>per hour</p>
        </div>
        <div class="w3-bar-item w3-black">
            <p>use only</p>
            <h1> <b>when urgent</b></h1>


        </div>
    </div>
</div>

<div class="w3-row w3-container" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-left:-15px;margin-right:-15px;">
    <div class="w3-half w3-right" style="padding:5%;line-height:1.75em;width:70%">

        <div class="text-wrapper">

            <h1 class="ml7" style="line-height:2.25em">
                <span class="letters">
                    Use only when urgent, save the energy and release yourself from the financial stress.

                </span>
                <span class="letters">   </span>
            </h1>
        </div>
    </div>
</div>

<div class="w3-row w3-container w3-hide-small" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-left:-15px;margin-right:-15px;background-color:#BDD3FF">
    <div class="w3-wide w3-center" style="padding:5%;line-height:1.75em;">
        <h1>Check bulb average differences and expenses</h1>
        <br><br>
        <div class="w3-row">
            <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQ_52l8vRpEdQgDetejEN-9p2km3_zGIMuRiMityzJuCCVZ1ntnTJ6idZtuqzUguMEMU4elEW3i5LMb/pubchart?oid=477637112&amp;format=interactive"></iframe>
        </div>
    </div>
</div>

<div class="row" style="padding-top: 50px">
    <div class="col-md-6 col-md-offset-3">
        <a type="button" class="btn btn-primary btn-lg btn-block" href="https://www.sustainability.vic.gov.au/You-and-Your-Home/Save-energy/Appliances/Clothes-dryers" target="_blank">Learn more about dryer type and cost</a>
    </div>
</div>


<br>
<br>



<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>

<div class="container" style="padding-left:20px">
    <a class="twitter-share-button"
       href="https://energuctioniteration2.azurewebsites.net/Home/EtipDryer">
        Tweet
    </a>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like" data-href="https://energuctioniteration2.azurewebsites.net/Home/EtipDryer" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
</div>