@{
    ViewBag.Title = "EtipDryer";
}

<br>
<br>
<br>
<b><a class="btn btn-default" style="text-align: center;" href="~/Home/Electrictips">< Back</a></b>
<br>
<br>
<br>
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">

            <a data-toggle="collapse" >
                <b>Try to hang to dry your cloth instead of using dryer</b>
            </a>
        </h2>

    </div>

    <div id="collapse7" class="panel-collapse collapse in">
        <div class="panel-body">
            <p>
                50% of the household has a dryer, the energy cost of the dryer <b>per 45mins is an average of $0.36.</b>
                If you are doing 8 loads per week, a month will cost you about $11.50. The energy wasted here will be 2.475kW per hour.
                Save the energy and release yourself from the financial stress.
            </p>
            <br><br><br>
            <a href="https://www.canstarblue.com.au/electricity/how-much-energy-does-a-clothes-dryer-use/" target="_blank">
                <img class="col-sm-11" src="~/Images/dryer cost.PNG" />
            </a>
        </div>

        <p style="text-align:center;font-size:8px"><i>source from canstarblue</i></p>

        <p> <a class="btn-link" href="https://www.sustainability.vic.gov.au/You-and-Your-Home/Save-energy/Appliances/Clothes-dryers" target="_blank">Learn more About Dryer Type And Cost</a></p>


    </div>

</div>
          