
@{
    ViewBag.Title = "EtipBulb";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

<style>
    .ml7 {
        position: relative;
        font-weight: 300;
        font-size: 30px;
    }

        .ml7 .text-wrapper {
            position: relative;
            display: inline-block;
            padding-top: 0.2em;
            padding-right: 0.05em;
            padding-bottom: 0.1em;
            overflow: hidden;
        }

        .ml7 .letter {
            display: inline-block;
            line-height: 1.75em;
        }
</style>

<div class="w3-content" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-right:-15px;margin-left:-15px;margin-top:-23px;">
    <br>
    
    <b><a class="btn btn-default" style="text-align: center;margin-left:2%" href="~/Home/Electrictips">< Back</a></b>
    <br>
</div>
<br>
<h1 style="text-align:center">Light Bulb Tips</h1>
<img class="w3-hide-medium w3-hide-small" src="~/Images/bulbbu.png" style="border-radius:50%;width:200px;height:200px;position:absolute;margin-left:2%;margin-top:2%" />
<br>
<br>
<div class="w3-content w3-center w3-wide" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-left:-15px;margin-right:-15px;background-color:#84B8FB">
    <br>

    <h1 style="text-align:center;margin-left:15%;width:70%">   <b>Change your lights type to LED from halogen or incandescent</b></h1>
    <br>
</div>

<div class="w3-row w3-container" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-left:-15px;margin-right:-15px;">
    <div class="w3-half" style="padding:5%;line-height:1.75em;width:70%">
        <div class="text-wrapper">
            <h1 class="ml7" style="line-height:2.25em">
                <span class="letters">
                    Majority of halogen lights which create use more than 80% of energy comparing to LED.
                </span>
            </h1>
        </div>

    </div>
    <div class="w3-center w3-black w3-text-white w3-padding-32 w3-bar-block w3-hide-medium w3-hide-small" style="border-radius:50%;width:200px;height:200px;margin-top:8%;margin-left:70%;position:absolute;">
        <div class="w3-bar-item w3-black">
            <h1><b>80%</b></h1>
            <p>more electric consume by halogen compare to LED</p>
        </div>
        <div class="w3-bar-item w3-white">

            <h1><b>$0.024</b></h1>
            <p>per 8 hours with LED bulb</p>

        </div>
    </div>
    <div class="w3-center w3-black w3-text-white w3-padding-32 w3-bar-block w3-hide-large w3-hide-small" style="border-radius:50%;margin-left:70%;position:absolute;margin-top:-3%">
        <div class="w3-bar-item w3-black">
            <h1><b>80%</b></h1>
            <p>more electric consume by halogen compare to LED</p>
        </div>
        <div class="w3-bar-item w3-white">

            <h1><b>$0.024</b></h1>
            <p>per 8 hours with LED bulb</p>

        </div>
    </div>
</div>

<div class="w3-row w3-container" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-left:-15px;margin-right:-15px;background-color:#BDD3FF">
    <div class="w3-half w3-right" style="padding:5%;margin-top:5%;line-height:1.75em;width:70%">

        <div class="text-wrapper">

            <h1 class="ml7" style="line-height:2.25em">
                <span class="letters">
                    10 Watt LED bulb will only cost $0.024 in 8 hours, a 50 Watt halogen will cost $0.12 per 8 hours.

                </span>
            </h1>
        </div>


    </div>
    <div class="w3-center w3-black w3-text-white w3-padding-32 w3-bar-block w3-hide-medium w3-hide-small" style="border-radius:50%;width:200px;height:200px;margin-top:14.2%;margin-left:10%;position:absolute;">
        <div class="w3-bar-item w3-white" style="border-radius:50%">
            <h1><b>$0.12</b></h1>
            <p>per 8 hours with halogen bulb</p>
        </div>
        <div class="w3-bar-item w3-black">
            <h1> <b>LED bulb</b></h1>
            <p>more environment friendly</p>

        </div>
    </div>
    <div class="w3-center w3-black w3-text-white w3-padding-32 w3-bar-block w3-hide-large w3-hide-small" style="border-radius:50%;width:200px;height:200px;margin-left:5%;margin-top:-5%;position:absolute;">
        <div class="w3-bar-item w3-white" style="border-radius:50%">
            <h1><b>$0.12</b></h1>
            <p>per 8 hours with halogen bulb</p>
        </div>
        <div class="w3-bar-item w3-black">
            <h1> <b>LED bulb</b></h1>
            <p>more environment friendly</p>
        </div>
    </div>
</div>

<div class="w3-row w3-container" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-left:-15px;margin-right:-15px;">
    <div class="w3-half w3-right" style="padding:5%;line-height:1.75em;width:70%">

        <div class="text-wrapper">

            <h1 class="ml7" style="line-height:2.25em">
                <span class="letters">
                    LED is acting more environment friendly as well compare to halogen. Multiple halogen and you turn on for longer hour or used them for year, estimate that is how much energy you have spent.

                </span>
                <span class="letters">   </span>
            </h1>
        </div>
    </div>
</div>

<div class="w3-row w3-container" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-left:-15px;margin-right:-15px;background-color:#BDD3FF">
    <div class="w3-wide w3-center" style="padding:5%;line-height:1.75em;">

        <h1>Check bulb average differences and expenses</h1>
        <br><br>
        <div class="w3-row">
            <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR-U7SvQe7MleyYiKLvbpKKhHo_pf4-69f8i7TERiBbBo_F68SXzQ341CwiZO245WH0S7Bl7QSdYeZ2/pubchart?oid=590904150&amp;format=interactive"></iframe>
        </div>

        <p style="text-align:center;font-size:8px;"><i>source from canstarblue</i></p>

    </div>
</div>

<div class="row" style="padding-top: 50px">
    <div class="col-md-6 col-md-offset-3">
        <button type="button" class="btn btn-primary btn-lg btn-block" 
            href="https://www.choice.com.au/home-improvement/energy-saving/light-bulbs/buying-guides/light-bulbs">Learn more About Type of Bulbs
        </button>
    </div>
</div>
<br>
<br>



<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>

<div class="container" style="padding-left:20px">
    <a class="twitter-share-button"
       href="https://energuctioniteration2.azurewebsites.net/Home/EtipBulb">
        Tweet
    </a>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like" data-href="https://energuctioniteration2.azurewebsites.net/Home/EtipBulb" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
</div>