@{
    ViewBag.Title = "EtipFridge";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

<style>
    .ml7 {
        position: relative;
        font-weight: 300;
        font-size: 30px;
    }

        .ml7 .text-wrapper {
            position: relative;
            display: inline-block;
            padding-top: 0.2em;
            padding-right: 0.05em;
            padding-bottom: 0.1em;
            overflow: hidden;
        }

        .ml7 .letter {
            display: inline-block;
            line-height: 1.75em;
        }
</style>

<div class="w3-content" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-right:-15px;margin-left:-15px;margin-top:-23px;">
    <br>
    <b><a class="btn btn-default" style="text-align: center;margin-left:2%" href="~/Home/Electrictips">< Back</a></b>
    <br>
</div>
<br>
<img class="w3-hide-medium w3-hide-small" src="~/Images/fridopen.jpg" style="border-radius:50%;width:200px;height:200px;position:absolute;margin-left:2%;margin-top:2%" />
<br>
<br>
<div class="w3-content w3-center w3-wide" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-left:-15px;margin-right:-15px;background-color:#84B8FB">
    <br>

    <h1 style="text-align:center;margin-left:15%;width:70%">   <b>Adjust fridge temperature to 4 degree and freeze to 0 degree</b></h1>
    <br>
</div>

<div class="w3-row w3-container" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-left:-15px;margin-right:-15px;">


    <div class="w3-half" style="padding:5%;line-height:1.75em;width:70%">

        <div class="text-wrapper">

            <h1 class="ml7" style="line-height:2.25em">
                <span class="letters">
                    Every decrease in temperature will increase your fridge energy by 5%.
                </span>

            </h1>
        </div>


    </div>
    <div class="w3-center w3-black w3-text-white w3-padding-32 w3-bar-block w3-hide-medium w3-hide-small" style="border-radius:50%;width:200px;height:200px;margin-top:3.5%;margin-left:70%;position:absolute;">
        <div class="w3-bar-item w3-black">
            <h1><b>5%</b></h1>
            <p>increase of electric usage per decrease in degree</p>
        </div>
        <div class="w3-bar-item w3-white">

            <h1><b>84.5%</b></h1>
            <p>Australians no knowledge with fridge temperature</p>

        </div>
    </div>
    <div class="w3-center w3-black w3-text-white w3-padding-32 w3-bar-block w3-hide-large w3-hide-small" style="border-radius:50%;margin-left:70%;position:absolute;margin-top:-3%">
        <div class="w3-bar-item w3-black">
            <h1><b>5%</b></h1>
            <p>increase of electric usage per decrease in degree</p>
        </div>
        <div class="w3-bar-item w3-white">

            <h1><b>84.5%</b></h1>
            <p>Australians no knowledge with fridge temperature</p>

        </div>
    </div>
</div>


<div class="w3-row w3-container" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-left:-15px;margin-right:-15px;background-color:#BDD3FF">
    <div class="w3-half w3-right" style="padding:5%;margin-top:5%;line-height:1.75em;width:70%">

        <div class="text-wrapper">

            <h1 class="ml7" style="line-height:2.25em">
                <span class="letters">
                    84.5% of the Australians has no knowledge about the temperature of the fridge.  The average fridge cost per year is about $243.

                </span>
            </h1>
        </div>


    </div>
    <div class="w3-center w3-black w3-text-white w3-padding-32 w3-bar-block w3-hide-medium w3-hide-small" style="border-radius:50%;width:200px;height:200px;margin-top:14.2%;margin-left:10%;position:absolute;">
        <div class="w3-bar-item w3-white" style="border-radius:50%">
            <h1><b>$243</b></h1>
            <p>fridge average cost per year</p>
        </div>
        <div class="w3-bar-item w3-black">
            <h1> <b>20%</b></h1>
            <p>saving electric usage with right temperature</p>

        </div>
    </div>
    <div class="w3-center w3-black w3-text-white w3-padding-32 w3-bar-block w3-hide-large w3-hide-small" style="border-radius:50%;width:200px;height:200px;margin-left:5%;margin-top:-5%;position:absolute;">
        <div class="w3-bar-item w3-white" style="border-radius:50%">
            <h1><b>$243</b></h1>
            <p>fridge average cost per year</p>
        </div>
        <div class="w3-bar-item w3-black">
            <h1> <b>20%</b></h1>
            <p>saving electric usage with right temperature</p>

        </div>
    </div>
</div>

<div class="w3-row w3-container" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-left:-15px;margin-right:-15px;">
    <div class="w3-half w3-right" style="padding:5%;line-height:1.75em;width:70%">

        <div class="text-wrapper">

            <h1 class="ml7" style="line-height:2.25em">
                <span class="letters">
                    If you set your fridge to the right temperature, you can save 20% energy of the fridge and reduce 20% cost of fridge energy consumption, which is about $50 per year.

                </span>
                <span class="letters">   </span>
            </h1>
        </div>
    </div>
</div>

<div class="w3-row w3-container" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-left:-15px;margin-right:-15px;background-color:#BDD3FF">
    <div class="w3-wide w3-center" style="padding:5%;line-height:1.75em;">

        <h1>Check electric expense for heating your home</h1>
        <br><br>
            <div class="w3-row">
                <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR3vlPLfgbKvD-4ekRC4H2qpwLuACKIgjuJPMIn92RaEqVzvC_EdosZAirdHeSHAHqJOYxvK7QPGthN/pubchart?oid=495788393&amp;format=interactive"></iframe> <div class="container" style="text-align:center">
                   

                </div>
                <p><a class="btn-link" href="https://www.energuide.be/en/questions-answers/how-to-reduce-the-power-consumption-of-my-refrigerator-and-freezer/2132/" target="_blank">Learn more about Fridge Energy Consumption</a></p>

            </div>
    </div>
</div>



<br>
<br>


<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>

<div class="container" style="padding-left:20px">
    <a class="twitter-share-button"
       href="https://energuctioniteration2.azurewebsites.net/Home/EtipFridge">
        Tweet
    </a>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like" data-href="https://energuctioniteration2.azurewebsites.net/Home/EtipFridge" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
</div>