
@{
    ViewBag.Title = "EtipBulb";
}


<br>
<br>
<br>
<b><a class="btn btn-default" style="text-align: center;" href="~/Home/Electrictips">< Back</a></b>
<br>
<br>
<br>   <div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">

            <a data-toggle="collapse">
                <b>Change your lights type to LED from halogen or incandescent</b>
            </a>
        </h2>

    </div>

    <div id="collapse3" class="panel-collapse collapse in">
        <div class="panel-body">

            <p>
                In the data, we found out that most people having majority of halogen lights which create use more than 80% of energy comparing to LED.
                Imagine a<b> 10Watt LED bulb will only cost $0.024 in 8 hours</b>, a <b>50watt halogen will cost $0.12 per 8hours. </b>
                It seems to be a small number but if you have multiple halogen and you turn on for longer hour or used them for year,
                estimate that is how much energy you have spent. LED is acting more environment friendly as well compare to halogen.
                LED produce less 80% of heat compare to halogen.


                <br><br><br>
                <div class="row" style="margin-left:25%">
                    <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR-U7SvQe7MleyYiKLvbpKKhHo_pf4-69f8i7TERiBbBo_F68SXzQ341CwiZO245WH0S7Bl7QSdYeZ2/pubchart?oid=590904150&amp;format=interactive"></iframe>
                </div>

            <p style="text-align:center;font-size:8px;"><i>source from canstarblue</i></p>

        </div>
        <br>
        <p><a class="btn-link" href="https://www.anbg.gov.au/gardens/research/hort.research/zones.html#:~:text =Zone%206%20includes%20the%20Queensland,islands%20off%20the%20north%20coast.">Learn more about Australia zone.</a></p>
        <p><a class="btn-link" href="https://www.choice.com.au/home-improvement/energy-saving/light-bulbs/buying-guides/light-bulbs">Learn more About Type of Bulbs</a></p>





    </div>
</div>

<br>
<br>



<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>

<div class="container" style="padding-left:20px">
    <a class="twitter-share-button"
       href="https://energuction.azurewebsites.net/Home/EtipBulb">
        Tweet
    </a>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like" data-href="https://energuction.azurewebsites.net/Home/EtipBulb" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
    </div>