@{
    ViewBag.Title = "EtipBulb";
}


<br>
<br>
<br>
<b><a class="btn btn-default" style="text-align: center;" href="~/Home/Electrictips">< Back</a></b>
<br>
<br>
<br>
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">

            <a data-toggle="collapse" >
                <b>Switch your hot water system to gas heating from electric heating</b>
            </a>
        </h2>

    </div>

    <div id="collapse2" class="panel-collapse collapse in">
        <div class="panel-body">

            <p>
                As the diagram previously water heating is the second biggest energy that is used in the household.
                For every 60 litre of water heating, comparing the most common system that used by household there is about 39% people who is using electric,
                42% using gas, the rest are using solar and heat pump. Considering cost effective in long term,
                people who are using electric heating and are considering switching to new system can change to gas heating.


            </p>
            <br>
            <p>
                From the sustainability Victoria, as
                <b>per 60 litre of water heating electric </b>cost you
                <b>$395-$555</b> while<b> gas heating</b> for same amount will be costing from <b>$160-$370</b>.
                From this data, it is easy to understand that every month electric heating user are paying double price for the energy usage on water heating.
                Not only that, electric produces the most green house gas emissions compare to the other system.
            </p>
            <p>
                Above introducing the cost effective, however the best energy saver is solar system, the only disadvantage that is the installment of itself is expensive.
                Nevertheless if you do not consider about the cost this can be the best choices. Government as well introduced $1000 subsidy for people who willing to install solar heat
                after 2018. For more information, click below "Learn more about subsidy."
            </p>
            <br><br><br>
            <div class="row">
                <a href="https://www.canstarblue.com.au/hot-water-systems/" target="_blank">
                    <img class="col-sm-6" src="~/Images/gas.PNG" />
                </a>
                <a href="https://www.canstarblue.com.au/hot-water-systems/" target="_blank">
                    <img class="col-sm-6" id="canstar" src="~/Images/electric.PNG" />
                </a>

            </div>

            <p style="text-align:center;font-size:8px;"><i>source from canstarblue</i></p>
            <br>
            <p><a class="btn-link" href="https://www.energymatters.com.au/solar-hot-water/solar-hot-water-rebates/#:~:text=The%20Victorian%20Government's%20Solar%20Homes,under%20the%20Solar%20Homes%20program" target="_blank">Learn more About Solar Subsidy Cost</a></p>

            <p><a class="btn-link" href="https://www.canstarblue.com.au/hot-water-systems/" target="_blank">Learn more About Water Heating System</a></p>

        </div>
    </div>
    </div>
