@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron {
        margin-bottom: 0px;
        background-image: url(/Images/home-bulb.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        text-shadow: black 0.1em 0.1em 0.1em;
        width: 100%;
    }
</style>

<script>
    var password;
    var password1 = "18";
    password = prompt('Enter to view contents');
    if (password != password1)
    {
        alert('Incorrect password')
        window.location = "http://www.google.com"
    }
</script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style type="text/css">
    * {
        box-sizing: border-box;
    }

    /* Create three equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .text-block {
        position: absolute;
        bottom: 1px;
        right: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .img-responsive {
        width: auto;
        height: auto;
        position: relative;
    }
</style>

<div class="jumbotron" style="max-height: 80vh;">
    <div class="container-fluid">
        <h1>Reduce household energy waste starting from your own home</h1>
        <p class="lead">
            See how much energy you are using in your home
            and what you can do to help tackle climate change and reduce your energy consumption
        </p>
        <p><a class="btn btn-primary btn-lg w3-hide-small" href="~/Home/Calculator" role="button">Calculate my energy consumption</a></p>
        <p><a class="btn btn-primary w3-hide-medium w3-hide-large" 
              href="~/Home/Calculator" role="button">Calculate my energy consumption</a></p>
    </div>
</div>
<br>

<h2 style="text-align:center; font-weight:bolder; font-size: 32px"> Our Mission </h2>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="text-align:center">
            <a href="https://www.world-nuclear.org/nuclear-essentials/where-does-our-electricity-come-from.aspx" target="_blank">
                <img src="~/Images/earth.jpg" style="max-width:200px;max-height:200px;margin-top:2%" />
            </a>
            <h5>
                We are providing tools for energy consumers in Australia to educate themselves on
                ways to reduce energy consumption in their household by using our energy calculator,
                common energy saving tips, energy quiz to test your knowledge and more! see the section below to learn more.
            </h5>
        </div>
        <div class="col-md-6" style="text-align:center">
            <a href="https://www.yourhome.gov.au/housing/carbon-zero-carbon-positive" target="_blank">
                <img src="~/Images/greenhouse gas.jpg" style="max-width:200px;max-height:200px;margin-top:2%" />
            </a>
            <h5>
                We are aiming to reduce the effect of global warming by tackling in the household which is one of key
                contributor to greenhouse gas and global warming.
            </h5>
        </div>
    </div>

</div>
<br>

<hr>
<div class="w3-row w3-center container-fluid" id="getstarted" style="width:100%">
    <div class="w3-center w3-padding-16">
        <h1 style="font-weight:bold">What can you do to help</h1>
    </div>
    <div class="w3-half w3-center w3-padding-32" style=" background-color: #E8C9C7; height: 450px;">
        <div class="row">
            <img src="~/Images/surveys.png" style="width:100px;height:100px" />
        </div>
        <br>
        <h2><b>Understand Your Usage</b></h2>
        <br><p>Take a short quiz to test your knowledge on energy saving in your house and we can provide a personalised answer for you.</p><br>
        <a class="w3-button w3-white w3-center" style="border-radius:4px;border:thick 4px;border-style:solid" href="~/Home/TakeQuiz"><h5>Take Quiz</h5></a>
    </div>
    <div class="w3-half w3-center w3-padding-32" style=" background-color: #D96738; height: 450px;">
        <div class="row">
            <img src="~/Images/information.png" style="width:100px;height:100px;" />
        </div>
        <br>
        <h2> <b>Quick start</b></h2>
        <br><p>
            Not sure where to start? Common tips will help you guide which aspect of your household energy consumption can be
            reduced and get your energy savings journey started
        </p><br>
        <a class="w3-button w3-white w3-center" style="border-radius:4px;border:thick 4px;border-style:solid" href="~/Home/CommonTips"><h5>Learn More</h5></a>
    </div>
    <div class="w3-half w3-center w3-padding-32" style=" background-color: #EBCD51; height: 450px;">
        <div class="row">
            <img src="~/Images/calculator-maths-tool.png" style="width:100px;height:100px" />
        </div>
        <br>
        <h2><b>Household energy calculator</b></h2>
        <br><p>See how much you are approximately consuming energy in your house and we'll let you know what you can do to reduce your energy consumption</p><br>
        <a class="w3-button w3-white w3-center" style="border-radius:4px;border:thick 4px;border-style:solid" href="~/Home/Calculator"><h5>Calculate your energy bills</h5></a>
    </div>
    <div class="w3-half w3-center w3-padding-32" style="padding-bottom:20px; background-color: #48B0C7; height: 450px;">
        <div class="row">
            <img src="~/Images/weather.png" style="width:100px;height:100px;" />
        </div>
        <br>
        <h2> <b>Weather</b></h2>
        <br><p>Our weather temperature system can suggest the best house temperature so you reduce energy consumption while still keeping yourself warm/cool.
        </p><br>
        <a class="w3-button w3-white w3-center" style="border-radius:4px;border:thick 4px;border-style:solid" href="~/Home/Weather"><h5>Temperature suggestion</h5></a>
    </div>
</div>

<div class="container-fluid" id="current">
    <div class="w3-row" id="avgspent" style="border-radius: 25px;border: 2px solid #73AD21;margin:5%;">
        <h2 class="w3-wide w3-center" style="margin-top:2%">Victoria Average Weekly Energy Consumption per Household in the first half of 2020</h2>
        <div class="w3-row w3-center" style="margin:5%">
            <div class="w3-half">
                <p>Total Electric Bill Paid Every Week</p>
                <h1><b>$39.84</b></h1>
            </div>
            <div class="w3-half">
                <p>Total Water Bill Paid Every Week</p>
                <h1><b>$21.58</b></h1>
            </div>
        </div>
        <div class="w3-row w3-center" style="margin:5%">
            <div class="w3-quarter">
                <p>Total Electric Consumption</p>
                <h1><b>153.25 kwh</b></h1>
            </div>
            <div class="w3-quarter">
                <p>Total Carbon Emission</p>
                <h1><b>6.64 ton</b></h1>
            </div>
            <div class="w3-quarter">
                <p>Total Water Consumption</p>
                <h1><b>8360 L</b></h1>
            </div>
            <div class="w3-quarter">
                <p>Total Water Waste</p>
                <h1><b>4920 L</b></h1>
            </div>
        </div>
        <div class="w3-row w3-center" style="margin:5%">
    <button id="prevyr" class="btn btn-info">Switch to 2019 Data</button>
</div>
    </div>
    
</div>

<div class="container-fluid" id="previous" style="display:none">
    <div class="w3-row" id="avgspent" style="border-radius: 25px;border: 2px solid #73AD21;margin:5%;">
        <h2 class="w3-wide w3-center" style="margin-top:2%">Victoria Average Weekly Energy Consumption per Household in 2019</h2>
        <div class="w3-row w3-center" style="margin:5%">
            <div class="w3-half">
                <p>Total Electric Bill Paid Every Week</p>
                <h1><b>$31.33</b></h1>
            </div>
            <div class="w3-half">
                <p>Total Water Bill Paid Every Week</p>
                <h1><b>$20.50</b></h1>
            </div>
        </div>
        <div class="w3-row w3-center" style="margin:5%">
            <div class="w3-quarter">
                <p>Total Electric Consumption</p>
                <h1><b>136.25 kwh</b></h1>
            </div>
            <div class="w3-quarter">
                <p>Total Carbon Emission</p>
                <h1><b>5.90 ton</b></h1>
            </div>
            <div class="w3-quarter">
                <p>Total Water Consumption</p>
                <h1><b>7960 L</b></h1>
            </div>
            <div class="w3-quarter">
                <p>Total Water Waste</p>
                <h1><b>4670 L</b></h1>
            </div>
        </div><div class="w3-row w3-center" style="margin:5%">
              <button id="curyr" class="btn btn-info">Switch to 2020 (Latest) data</button>
</div>
    </div>
    
</div>

<!-- Let's achieve together-->
<div class="w3" style="background-color:antiquewhite;margin-left:-15px;margin-right:-15px">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
        <h2 class="w3-wide w3-center">Let's achieve together</h2>
        <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
            <div class="w3-third w3-margin-bottom">

                <div class="w3-container w3-white">
                    <a href="https://www.australia.com/en/things-to-do/nature-and-national-parks/australias-top-natural-attractions.html" target="_blank">
                        <img src="~/Images/picnic.jpg" style="max-width:100%">
                    </a>

                    <p><b>Enjoy our natural environment </b></p>
                    <br>
                    <p>Relax your time with your family members in the natural beauty, allow your next generation able to see the beauty.</p>
                    <p><a href="https://www.australia.com/en/things-to-do/nature-and-national-parks/australias-top-natural-attractions.html" target="_blank" class="w3-button w3-black w3-padding-large w3-large center-block">Learn more</a></p>
                </div>
            </div>

            <div class="w3-third w3-margin-bottom">

                <div class="w3-container w3-white">
                    <a href="https://www.tripadvisor.com/Travel-g255055-c133611/Australia:Australian.Wildlife.Parks.And.Zoos.html" target="_blank">
                        <img src="~/Images/animal.jpg" style="max-width:100%" />
                    </a>
                    <p><b>Protect the home of wild life animals</b></p>
                    <br>

                    <p>Reduce the climate changes that can consequently destroy the home of wildlife, protect animals from extinction.</p>
                    <p><a href="https://www.tripadvisor.com/Travel-g255055-c133611/Australia:Australian.Wildlife.Parks.And.Zoos.html" target="_blank" class="w3-button w3-black w3-padding-large w3-large center-block">Learn more</a></p>
                </div>
            </div>

            <div class="w3-third w3-margin-bottom">

                <div class="w3-container w3-white">
                    <a href="~/Home/CommonTips">
                        <img src="~/Images/financialstress.jpg" style="max-width:100%" />
                    </a>


                    <p><b>Release yourself from financial stress</b></p>
                    <br />
                    <p>Understand your energy usage, avoid paying unneccessary bills, release yourself from financial stress.</p>
                    <p><a href="~/Home/CommonTips" class="w3-button w3-black w3-padding-large w3-large">Learn more</a></p>

                </div>
            </div>
        </div>
    </div>
</div>




<br>
<br>
<script>
       $('#prevyr').click(function () {
        document.getElementById('previous').style.display = 'initial';
        document.getElementById('current').style.display = 'none';
    });

     $('#curyr').click(function () {
        document.getElementById('previous').style.display = 'none';
        document.getElementById('current').style.display = 'initial';
    });
    </script>


<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>

<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk')); twttr.widgets.load();</script>

<div class="container" style="padding-left:20px">

    <p>
        <a class="twitter-share-button" href="http://twitter.com/share?text=Save household energy waste, click below to see how...&url=https://energuctioniteration2.azurewebsites.net/Home/Index" target="_blank" data-widget-id="722809724224151554">
            Tweet
        </a>
    </p>
    <div id="fb-root"></div>


    <div class="fb-like" data-href="https://energuctioniteration2.azurewebsites.net/Home/Index" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>


</div>
