@{
    ViewBag.Title = "Home Page";
}


<script>
    var password;
    var password1 = "18";
    password = prompt('Enter to view contents');
    if (password == password1)
        alert('Correct password')
    else {
        window.location = "http://www.google.com"
    }
</script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style type="text/css">
    * {
        box-sizing: border-box;
    }



    /* Style the header */
    .header {
        text-align: center;
        font-size: 35px;
    }

    /* Create three equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Style the footer */
    .footer {
        text-align: center;
    }

    .text-block {
        position: absolute;
        bottom: 1px;
        right: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .img-responsive {
        width: auto;
        height: auto;
        position: relative;
    }
</style>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-right:-15px;margin-left:-15px;margin-top:-23px">

    <!-- Automatic Slideshow Images -->
    <div class="mySlides w3-display-container w3-center">
        <img src="~/Images/energyhome.jpg" style="width:100%;max-height:580px" />

        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small w3-black" style="width:600px">
            <h3>Save our earth, reduce energy waste start from home</h3>
            <p><b>Let's practice reducing energy waste from home.</b></p>

            <p><a href="~/Home/TakeQuiz" class="w3-button w3-white w3-padding-large w3-large">Click to Take Quiz</a></p>
        </div>

        <div class="w3-display-bottommiddle w3-container w3-text-white w3-hide-medium w3-hide-large w3-black">
            <h3>Save our earth, reduce energy waste start from home</h3>
            <p><b>Let's practice reducing energy waste from home.</b></p>

            <p><a href="~/Home/TakeQuiz" class="w3-button w3-white w3-padding-small w3-small">Click to Take Quiz</a></p>
        </div>
    </div>

    <div class="mySlides w3-display-container w3-center">

        <img src="~/Images/slidenergy.jpg" style="width:100%;max-height:580px" />
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small w3-black" style="width:600px">
            <h3>Learn more about your electric bills</h3>
            <p><b>Increase the understanding on electric usage at your home.</b></p>
            <p><a href="~/Home/Electrictips" class="w3-button w3-white w3-padding-large w3-large">Learn more</a></p>
        </div>
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-hide-medium w3-hide-large w3-black">
            <h3>Learn more about your electric bills</h3>
            <p><b>Increase the understanding on electric usage at your home.</b></p>
            <p><a href="~/Home/Electrictips" class="w3-button w3-white w3-padding-small w3-small">Learn more</a></p>
        </div>

    </div>
    <div class="mySlides w3-display-container w3-center">
        <img src="~/Images/slidewater.jpg" style="width:100%;max-height:580px" />
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small w3-black" style="width:600px">
            <h3>Learn more about your water bills</h3>
            <p><b>Stopping the leaking of precious water.</b></p>
            <p><a href="~/Home/WaterTips" class="w3-button w3-white w3-padding-large w3-large">Learn more</a></p>
        </div>

        <div class="w3-display-bottommiddle w3-container w3-text-white w3-hide-medium w3-hide-large w3-black">
            <h3>Learn more about your water bills</h3>
            <p><b>Stopping the leaking of precious water.</b></p>
            <p><a href="~/Home/WaterTips" class="w3-button w3-white w3-padding-small w3-small">Learn more</a></p>
        </div>
    </div>
</div>
<br>

<a class="w3-right w3-row" href="#avgspent" style="margin-right:2%"><p class="fa fa-arrow-circle-down"> Go to Next Section</p></a>
<br>
<div class="row">
    <div class="w3-center w3-padding-64" id="purpose">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Our Mission</span>
    </div>
</div>
<br>
<div class="w3-row" style="margin-left:16px;margin-right:16px">
    <div class="w3-quarter w3-center" style="text-align:center">
        <a href="https://www.world-nuclear.org/nuclear-essentials/where-does-our-electricity-come-from.aspx" target="_blank">
            <img src="~/Images/earth.jpg" style="width:200px;height:200px;margin-top:2%" />
        </a>
    </div>
    <div class="w3-quarter w3-left" style="margin-top:2%;font-size:20px;text-align:justify">
        <p>
            We are aiming to reduce the effect of global warming by tackling in the household which is one of key
            contributor to greenhouse gas and global warming.
        </p>
    </div>

    <div class="w3-quarter w3-center" style="text-align:center">
        <a href="https://www.yourhome.gov.au/housing/carbon-zero-carbon-positive" target="_blank">
            <img src="~/Images/greenhouse gas.jpg" style="width:200px;height:200px;margin-top:2%" />
        </a>
    </div>
    <div class="w3-quarter w3-left" style="margin-top:2%;font-size:20px;text-align:justify">
        <p>
            We are providing tools for energy consumers in Australia to educate themselves on 
            ways to reduce energy consumption in their household by using our energy calculator, 
            common energy saving tips, energy quiz to test your knowledge and more! see the section below to learn more.
        </p>
    </div>
</div>
<br>

<hr>
<div class="w3-row w3-center" id="getstarted" style="margin-left:-15px;margin-right:-15px">
    <div class="w3-center w3-padding-16">
        <h1 style="font-weight:bold">What can you do to help</h1>
    </div>
    <div class="w3-half w3-center w3-padding-32" style=" background-color: #E8C9C7; height: 400px;">
        <div class="row">
            <img src="~/Images/surveys.png" style="width:100px;height:100px" />
        </div>
        <br>
        <h2><b>Understand Your Usage</b></h2>
        <br><p>Take a short quiz to test your knowledge on energy saving in your house and we can provide a personalised answer for you.</p><br>
        <a class="w3-button w3-white w3-center" style="border-radius:4px;border:thick 4px;border-style:solid" href="~/Home/TakeQuiz"><h5>Take Quiz</h5></a>
    </div>
    <div class="w3-half w3-center w3-padding-32" style=" background-color: #D96738;
        height: 400px;">
        <div class="row">
            <img src="~/Images/information.png" style="width:100px;height:100px;" />
        </div>
        <br>
        <h2> <b>Quick start</b></h2>
        <br><p>
            Not sure where to start? Common tips will help you guide which aspect of your household energy consumption can be
            reduced and get your energy savings journey started
        </p><br>
        <a class="w3-button w3-white w3-center" style="border-radius:4px;border:thick 4px;border-style:solid" href="~/Home/CommonTips"><h5>Learn More</h5></a>
    </div>
    <div class="w3-half w3-center w3-padding-32" style=" background-color: #EBCD51; height: 400px;">
        <div class="row">
            <img src="~/Images/surveys.png" style="width:100px;height:100px" />
        </div>
        <br>
        <h2><b>Household energy calculator</b></h2>
        <br><p>See how much you are approximately consuming energy in your house and we'll let you know what you can do to reduce your energy consumption</p><br>
        <a class="w3-button w3-white w3-center" style="border-radius:4px;border:thick 4px;border-style:solid" href="~/Home/Calculator"><h5>Calculate your energy bills</h5></a>
    </div>
    <div class="w3-half w3-center w3-padding-32" style=" background-color: #48B0C7; height: 400px;">
        <div class="row">
            <img src="~/Images/information.png" style="width:100px;height:100px;" />
        </div>
        <br>
        <h2> <b>Weather</b></h2>
        <br><p>
            Do you know that weather significantly impact your energy consumption? Our weather temperature system can suggest the best house temperature that 
            can help you reduce energy consumption while still keeping yourself warm/cool.
        </p><br>
        <a class="w3-button w3-white w3-center" style="border-radius:4px;border:thick 4px;border-style:solid" href="~/Home/Weather"><h5>Go to weather temperature suggestion</h5></a>
    </div>
</div>

<br>
<a class="w3-right w3-row" href="#ourtarget" style="margin-right:2%"><p class="fa fa-arrow-circle-down"> Go to Next Section</p></a>

<h1>Local household energy statistics</h1>
<div class="w3-row" id="avgspent" style="border-radius: 25px;border: 2px solid #73AD21;margin:5%;">

    <h2 class="w3-wide w3-center" style="margin-top:2%">VIC average energy consumption per household per week</h2>
    <div class="w3-row w3-center" style="margin:5%">
        <div class="w3-half">
            <p>Total Electric Bill Paid Every Week</p>
            <h1><b>$27</b></h1>

        </div>
        <div class="w3-half">
            <p>Total Water Bill Paid Every Week</p>
            <h1><b>$21.58</b></h1>

        </div>
    </div>
    <div class="w3-row w3-center" style="margin:5%">
        <div class="w3-quarter">
            <p>Total Electric Consumption</p>
            <h1><b>107.4 kwh</b></h1>
        </div>
        <div class="w3-quarter">
            <p>Total Carbon Emission</p>
            <h1><b>1.06 ton</b></h1>
        </div>
        <div class="w3-quarter">
            <p>Total Water Consumption</p>
            <h1><b>3637.06 L</b></h1>
        </div>
        <div class="w3-quarter">
            <p>Total Water Waste</p>
            <h1><b>2182.236 L</b></h1>
        </div>
    </div>
</div>

<a class="w3-right w3-row" href="#userj" style="margin-right:2%"><p class="fa fa-arrow-circle-down"> Go to Next Section</p></a>
<div class="w3-row w3-center" id="userj" style="max-width:1000px;margin-left:20%;margin-right:20%">
    <img src="~/Images/userjourney.png" style="width:100%;max-height:500px" />
</div>

<br>
<a class="w3-right w3-row" href="#getstarted" style="margin-right:2%"><p class="fa fa-arrow-circle-down"> Go to Next Section</p></a>

<script>
    var myIndex = 0;
    carousel();
    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 8000);
    }
</script>

<br>
<a class="w3-right w3-row" href="#achievetarget" style="margin-right:2%"><p class="fa fa-arrow-circle-down"> Go to Next Section</p></a>
<br>

<!-- Let's achieve together-->
<div class="w3" style="background-color:antiquewhite;margin-left:-15px;margin-right:-15px">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
        <h2 class="w3-wide w3-center">Let's achieve together</h2>



        <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
            <div class="w3-third w3-margin-bottom">

                <div class="w3-container w3-white">
                    <a href="https://www.australia.com/en/things-to-do/nature-and-national-parks/australias-top-natural-attractions.html" target="_blank">
                        <img src="~/Images/picnic.jpg" style="max-width:100%">

                    </a>

                    <p><b>Enjoy our natural environment </b></p>
                    <br>
                    <p>Relax your time with your family members in the natural beauty, allow your next generation able to see the beauty.</p>
                    <p><a href="https://www.australia.com/en/things-to-do/nature-and-national-parks/australias-top-natural-attractions.html" target="_blank" class="w3-button w3-black w3-padding-large w3-large center-block">Learn more</a></p>
                </div>
            </div>

            <div class="w3-third w3-margin-bottom">

                <div class="w3-container w3-white">
                    <a href="https://www.tripadvisor.com/Travel-g255055-c133611/Australia:Australian.Wildlife.Parks.And.Zoos.html" target="_blank">
                        <img src="~/Images/animal.jpg" style="max-width:100%" />
                    </a>
                    <p><b>Protect the home of wild life animals</b></p>
                    <br>

                    <p>Reduce the climate changes that can consequently destroy the home of wildlife, protect animals from extinction.</p>
                    <p><a href="https://www.tripadvisor.com/Travel-g255055-c133611/Australia:Australian.Wildlife.Parks.And.Zoos.html" target="_blank" class="w3-button w3-black w3-padding-large w3-large center-block">Learn more</a></p>
                </div>
            </div>

            <div class="w3-third w3-margin-bottom">

                <div class="w3-container w3-white">
                    <a href="~/Home/CommonTips">
                        <img src="~/Images/financialstress.jpg" style="max-width:100%" />
                    </a>


                    <p><b>Release yourself from financial stress</b></p>
                    <br />
                    <p>Understand your energy usage, avoid paying unneccessary bills, release yourself from financial stress.</p>
                    <p><a href="~/Home/CommonTips" class="w3-button w3-black w3-padding-large w3-large">Learn more</a></p>

                </div>
            </div>
        </div>
    </div>
</div>




<br>
<br>



<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>

<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk')); twttr.widgets.load();</script>

<div class="container" style="padding-left:20px">

    <p>
        <a class="twitter-share-button" href="http://twitter.com/share?text=Save household energy waste, click below to see how...&url=https://energuctioniteration2.azurewebsites.net/Home/Index" target="_blank" data-widget-id="722809724224151554">
            Tweet
        </a>
    </p>
    <div id="fb-root"></div>


    <div class="fb-like" data-href="https://energuctioniteration2.azurewebsites.net/Home/Index" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>


</div>
