@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Verdana';
    }

    /* Style the header */
    .header {
        padding: 30px;
        text-align: center;
        font-size: 35px;
    }

    /* Create three equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Style the footer */
    .footer {
        padding: 10px;
        text-align: center;
    }

    .text-block {
        position: absolute;
        bottom: 1px;
        right: 0px;
   
        padding-left: 20px;
        padding-right: 20px;
    }

    .img-responsive {
        width: auto;
        height: auto;
        position: relative;
    }
</style>


<div class="container" style="position:relative;background-color:black">

    <a href="~/Home/TakeQuiz">
        <img class="img-responsive" src="~/Images/bubackground.jpg" style="height:300px;width:100%;">
    </a>
    <div class="text-block" style="background-color:black;width:100%;height:170px;">

        <h1 style="color:floralwhite"><b>Save our earth, reduce energy waste start from home</b></h1>
        <br>
        <i style="font-size:30px;color:floralwhite">Let's practice reducing energy waste from home.</i>

    </div>
    <div class="text-block" style="padding-bottom:-5%">
        <a class="btn btn-info" style="width:200px;height:40px;font-size:large;text-align: center;" href="~/Home/TakeQuiz">Click to Take Quiz</a>
    </div>

</div>







<div class="row" style="">
    <div class="column">
        <div class='tableauPlaceholder' id='viz1599031046684' style='position: relative'><noscript><a href=' '>< img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IE&#47;IEproject_15990309236620&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='IEproject_15990309236620&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IE&#47;IEproject_15990309236620&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-GB' /><param name='filter' value='publish=yes' /></object></div>
        <script type='text/javascript'>var divElement = document.getElementById('viz1599031046684');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>


     
        <br>
        <br>
        <a href="https://www.water.wa.gov.au/__data/assets/pdf_file/0016/5029/42338.pdf" target="_blank">
            <img src="~/Images/twaterconper.PNG" style="height:300px;width:100%;border:solid" />
        </a>
    </div>





    <div class="column" style="text-align:left;font-size:25px;background-color:antiquewhite;height:600px;margin-top:2%">
        <h2 style="text-align:center;margin-top:10%;"><b><i>Our target</i></b></h2>
        <br>
        <p>○ Reduce household energy waste</p>
        <p>○ Reduce greenhouse gas emission</p>
        <p>○ Aim to give the best suggestion and tips</p>
        <p>○ Increase your knowledge with your energy</p>
        <br>
        <a class="btn btn-info" style="height:40px;font-size:large;text-align: center;margin-left:20%" href="~/Home/CommonTips">Click to Explore Tips to Save Energy</a>
    </div>

</div>




<br>
<div class="row">
    <div class="container" style="background-color:lightblue;text-align:center;">
        <h2><b>Why we are doing this?</b></h2>
    </div>
</div>

<br>
<div class="row">
    <div class="col-sm-3" style="text-align:center">
        <a href="https://www.world-nuclear.org/nuclear-essentials/where-does-our-electricity-come-from.aspx" target="_blank">
            <img src="~/Images/earth.jpg" style="width:200px;height:200px;margin-top:2%" />
        </a>
    </div>



    <div class="col-sm-3" style="margin-top:2%;font-size:20px;text-align:justify">
        <p>
            Conserve the limited resources, things such as coals and fuels take longer to produce, the resources will be exhausted very soon if we are not trying to reduce using them.
        </p>

    </div>

    <div class="col-sm-3" style="text-align:center">
        <a href="https://www.abc.net.au/news/2020-05-18/families-utility-bills-shock-from-coronavirus/12248688" target="_blank">
            <img src="~/Images/stress bill.jpg" style="width:200px;height:200px;margin-top:2%" />
        </a>

    </div>
    <div class="col-sm-3" style="margin-top:2%;font-size:20px;text-align:justify">
        <p>
            Avoid paying more energy bills to your supplier, understand what is wrong with your energy usage.
        </p>

    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-sm-3" style="text-align:center">
        <a href="https://www.ucsusa.org/resources/global-warming-faq#:~:text=Global%20warming%20is%20caused%20primarily,be%20radiated%20out%20into%20space." target="_blank">
            <img src="~/Images/temperature.jpg" style="width:200px;height:200px;margin-top:2%" />
        </a>

    </div>
    <div class="col-sm-3" style="margin-top:2%;font-size:20px;text-align:justify">
        <p>
            Prevent climate change that can raise global temperature, caused the abnormal weather patterns and the melt of iceberg can raise the sea level. Our energy created waste that can raise our earth's temperature.

        </p>

    </div>

    <div class="col-sm-3" style="text-align:center">
        <a href="https://www.yourhome.gov.au/housing/carbon-zero-carbon-positive" target="_blank">
            <img src="~/Images/greenhouse gas.jpg" style="width:200px;height:200px;margin-top:2%" />
        </a>
    </div>
    <div class="col-sm-3" style="margin-top:2%;font-size:20px;text-align:justify">
        <p>
            Reduce possible greenhouse gas emission that is carbon dioxide, sulphur dioxide and nitrogen oxides that are created by the energy we used. The more energy we used, the more carbon waste is produced that can be harmful to our earth.
        </p>

    </div>
</div>

<br>
<br>
<br>
<div class="row">
    <div class="container" style="background-color:lightblue;text-align:center;">
        <h2><b>Let's achieve together!</b></h2>
    </div>
</div>
<br>
<br>
<div class="row" style="margin-top:1%">
    <div class="col-sm-3" style="text-align:center;background-color:antiquewhite;margin-left:1%;width:30%">
        <a href="https://www.australia.com/en/things-to-do/nature-and-national-parks/australias-top-natural-attractions.html" target="_blank">
            <img src="~/Images/picnic.jpg" style="width:300px;height:300px">
        </a>

        <h3><b>Enjoy our natural environment </b></h3>
        <br>
        <p style="text-align:justify">Relax your time with your family members in the natural beauty, allow your next generation able to see the beauty too.</p>

    </div>

    <div class="col-sm-3" style="text-align:center;background-color:antiquewhite;margin-left:4%;width:30%">
        <a href="https://www.tripadvisor.com/Travel-g255055-c133611/Australia:Australian.Wildlife.Parks.And.Zoos.html" target="_blank">
            <img src="~/Images/animal.jpg" style="width:300px;height:300px" />
        </a>
        <h3><b>Protect the home of wild life animals</b></h3>
        <br>
        <p style="text-align:justify">Reduce the climate changes that can consequently destroy the home of wildlife, protect animals from extinction.</p>

    </div>

    <div class="col-sm-3" style="text-align:center;background-color:antiquewhite;margin-left:4%;width:30%;">
        <a href="~/Home/CommonTips">
            <img src="~/Images/financialstress.jpg" style="width:300px;height:300px;" />
        </a>

        <h3><b>Release yourself from financial stress</b></h3>
        <br>
        <p style="text-align:justify">Understand your energy usage, avoid paying unneccessary bills, release yourself from financial stress.</p>

    </div>

</div>

<br>
<br>
<div class="row">
    <div class="container" style="background-color:lightblue;text-align:center;">
        <h2><b>Let's discover what we can do to help our earth!</b></h2>
    </div>
</div>


<br>
<br>
<div class="footer">
    <div class="row" style="text-align:justify">
        <div class='col-md-6'>

            <div class="jumbotron" style="height:400px;background-color:lightskyblue">

                <h2><b>Do you know?</b></h2>
                <p class="lead">
                <p>
                    Most of the household has an energy waste that increase their energy bills unconciously. <i>Are you one of them?</i>


                </p>
                <p><i>Take the Quiz to understand how your behaviour can affect the energy usage.</i></p>

                <p><a class="btn btn-default" style="width:400px;height:40px;font-size:large;text-align: center;" href="~/Home/TakeQuiz">Take Quiz &raquo;</a></p>




            </div>
        </div>




        <div class='col-md-6'>
            <div class="jumbotron" style="height:400px;background-color:lightskyblue">

                <h2><b>Common tips on saving energy</b></h2>
                <p class="lead">


                <p>
                    Explore some of the common tips that we find out most people do this on their dailies basis and caused their energy bills spiked up.
                </p>

                <b><a class="btn btn-default" style="width:400px;height:40px;font-size:large;margin-top:2.5%;text-align: center;" href="~/Home/CommonTips">Explore more &raquo;</a></b>

            </div>
        </div>
    </div>


</div>



