@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    body {
        background-image: url('../../Images/bubackground.jpg');
        margin: 0;
        background-size: 100%;
    }
</style>
<div class="row">
    <div class='col-md-6'>

        <div class="jumbotron" style="height:400px;background-color:darkseagreen">

            <h2 style="font-family:Georgia"><b>Do you know?</b></h2>
            <p class="lead">
            <p style="font-family:Verdana">
                Most of the household has an energy waste that increase their energy bills unconciously. <i>Are you one of them?</i>


            </p>
            <p style="font-family:Verdana;"><i>Take the Quiz to understand how your behaviour can affect the energy usage.</i></p>

            <p><a class="btn btn-default" style="width:400px;height:40px;font-size:large;font-family:Verdana;text-align: center;" href="~/Home/TakeQuiz">Take Quiz &raquo;</a></p>
          
            


        </div>
    </div>

    <div class='col-md-6'>
        <div class="jumbotron" style="height:400px;background-color:darkseagreen">

            <h2 style="font-family:Georgia"><b>Common tips on saving energy</b></h2>
            <p class="lead">


            <p style="font-family:Verdana">
                Explore some of the common tips that we find out most people do this on their dailies basis and caused their energy bills spiked up.
            </p>

            <b><a class="btn btn-default" style="width:400px;height:40px;font-size:large;font-family:Verdana;margin-top:2.5%;text-align: center;" href="~/Home/CommonTips">Explore more &raquo;</a></b>

        </div>
    </div>
</div>

