@{
    ViewBag.Title = "TakeQuiz";
}

    <style type="text/css">

    label {
display: block;
}

input {
width: 30px;
margin-left: 20px;
}

h2 {
clear: both;
padding-top: 20px;
}

button {
width: 100px;
margin-top: 20px;
}

    body {
        background-image: url('../../Images/bubackground.jpg');
        margin: 0;
        background-size: 100%;
    }

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}



</style>



<div class="row" style="background:rgba(255, 255, 255, 0.7);text-align:center ">

    <br>
    
    <h1>Quiz</h1>

    </div>
<br>
<div class="row">
    <div class="col-sm-5" style="background:rgba(255, 255, 255, 0.7);width:48%;height:440px">

        <div class="w3-card-4">

            <header class="w3-container w3-light-grey">
                <h3><b>Heater and Air conditioner are the biggest energy consumption.</b></h3>
            </header>

            <div class="w3-container">
                <p>They used almost 50% of your total energy consumption.</p>
                <hr>

                <p>An air conditioner/heater in your house generates about 1.5 kilograms of greenhouse gas per hour when cooling a living room during the day.</p>
                <img src="~/Images/aircon.jpg" style="width:100px;height:100px" />
            </div>
            <div class="w3-container">
                <p><b>Do you turn off your air conditioner or heater when you are outside of your house?</b></p>

                <div class="popup" onclick="myFunction()">

                    <button id="q1by" class="btn btn-success">Yes</button>
                    <span class="popuptext" id="q1y">Great! Keep doing this to help our environment, stopping the highest GHG emissions created from your home!</span>
                </div>

                <div class="popup" onclick="myFunction1()">
                    <button  id="q1bn" class="btn btn-default">No</button>
                    <span class="popuptext" id="q1n">
                        Oh no! It is warm for your house, but cost you an average of $0.50 every hour and more carbon emission when you are not actually
                        taking the advantages from it!
                    </span>

                </div>

                <br>

                <br>
            </div>
        </div>

    </div>

    <div class="col-sm-5" style="background:rgba(255, 255, 255, 0.7);margin-left:4%;width:48%;height:440px">

        <div class="w3-card-4">

            <header class="w3-container w3-light-grey">
                <h3><b>Different Types of Bulb Burn different heat and energy.</b></h3>
            </header>

            <div class="w3-container">
                <p>Halogen burned 3 times expensive than a LED bulb on the same watt.</p>
                <hr>

                <p>LED has stronger light which consume 80% lesser energy than a halogen type.</p>
           
                <img src="~/Images/bulbbu.png" style="width:100px;height:100px" />
            </div>

            <div class="w3-container">
                <p><b>Do you use have more LED than halogen types of bulb in your house?</b></p>

                <div class="popup" onclick="myFunction2a()">

                    <button id="q2by" class="btn btn-success">Yes</button>
                    <span class="popuptext" id="q2y">Yay! You saved most the energy waste in your house!</span>
                </div>

                <div class="popup" onclick="myFunction2b()">
                    <button id="q2bn" class="btn btn-default">No</button>
                    <span class="popuptext" id="q2n">
                        Ops... You might want to consider changing to LED when your halogen type of bulb is not working anymore.
                    </span>

                </div>

                <br>
                

                <br>
            </div>
        </div>

    </div>
</div>
<br><br>
<div class="row">
    <div class="col-sm-5" style="background:rgba(255, 255, 255, 0.7);width:48%;height:440px">

        <div class="w3-card-4">

            <header class="w3-container w3-light-grey">
                <h3><b>The second biggest energy consumption in your house is water heater.</b></h3>
            </header>

            <div class="w3-container">
                <p>Electric water heating system created 2 times greenhouse gas emission than the gas heater.</p>
                <hr>

                <p>Not only creating more GHG gas but cost you more energy and increase your bills!</p>
                <img src="~/Images/waterheating.jpg" style="width:100px;height:100px" />
             
            </div>
            <div class="w3-container">
                <p><b>Are you using gas type water heating system?</b></p>

                <div class="popup" onclick="myFunction3a()">

                    <button id="q3by" class="btn btn-success">Yes</button>
                    <span class="popuptext" id="q3y">Awesome! You save almost 50% of the bills with water heating compare to others!</span>
                </div>

                <div class="popup" onclick="myFunction3b()">
                    <button id="q3bn" class="btn btn-default">No</button>
                    <span class="popuptext" id="q3n">
                        Awww! You might want to consider changing the system as this will help you to save bills at the same time, reduce the carbon dioxide produce from water heating!
                    </span>

                </div>

                
            </div>
        </div>

    </div>

    <div class="col-sm-5" style="background:rgba(255, 255, 255, 0.7);margin-left:4%;width:48%;height:440px">

        <div class="w3-card-4">

            <header class="w3-container w3-light-grey">
                <h3><b>Laundry consumes 30% of your water consumption bills!</b></h3>
            </header>

            <div class="w3-container">
                <p>Each times when washing machine is turned on it cost you $0.30 each time and 100L water.</p>
                <hr>

                <p>Run your washing machine only when you have the full loads!</p>
                <img src="~/Images/laundry.jpg" style="width:100px;height:100px"/>

              
            </div>

            <div class="w3-container">
                <p><b>Do you use washing machine only when it is full loads?</b></p>

                <div class="popup" onclick="myFunction4a()">

                    <button id="q4by" class="btn btn-success">Yes</button>
                    <span class="popuptext" id="q4y">Wow! This is the good habit! Most people tend to turn on their washing machine whenever they wish to!</span>
                </div>

                <div class="popup" onclick="myFunction4b()">
                    <button id="q4bn" class="btn btn-default">No</button>
                    <span class="popuptext" id="q4n">
                        Aw... This is one of the most biggest water waste in water consumption, let's promise to turn on only when it is full load ok?
                    </span>

                </div>
                
            </div>
        </div>

    </div>
    </div>

<br><br>
<div class="row">
    <div class="col-sm-5" style="background:rgba(255, 255, 255, 0.7);width:48%;height:440px">

        <div class="w3-card-4">

            <header class="w3-container w3-light-grey">
                <h3><b>Fridge consume 5% more energy for every decrease in degree.</b></h3>
            </header>

            <div class="w3-container">
                <p>There is about 67.7% of the household do not know the temperature about the fridge. Some people even try to use fridge to get themselves cold.</p>
                <hr>

                <p>Set them to correct temperature! Fridge should be at 3-5 degree and freezer at 0 degree.</p>
       
                <img src="~/Images/fridopen.jpg"  style="width:100px;height:100px" />
            </div>
            <div class="w3-container">
                <p><b>Do you know the correct temperature for your fridge?</b></p>

                <div class="popup" onclick="myFunction5a()">

                    <button id="q5by" class="btn btn-success">Yes</button>
                    <span class="popuptext" id="q5y">Awesome! You are ahead of 67.7% persons as most people do not know the energy of fridge can be varies.</span>
                </div>

                <div class="popup" onclick="myFunction5b()">
                    <button id="q5bn" class="btn btn-default">No</button>
                    <span class="popuptext" id="q5n">
                        That's ok! Let's set the fridge to the correct temperature from now on! 
                    </span>

                </div>


            </div>
        </div>

    </div>

    <div class="col-sm-5" style="background:rgba(255, 255, 255, 0.7);margin-left:4%;width:48%;height:440px">

        <div class="w3-card-4">

            <header class="w3-container w3-light-grey">
                <h3><b>Most household own a dryer.</b></h3>
            </header>

            <div class="w3-container">
                <p>It is understandable, if it is urgent or the weather is not good, you need dryer to dry your clothes.</p>
                <hr>

                <p>Try to hang your cloth for most of the times, reduce the unneccessary energy waste.</p>

                <img src="~/Images/houseenergysave.jpg" style="width:100px;height:100px"/>
                
            </div>

            <div class="w3-container">
                <p><b>Do you hang your clothes to dry most of the time?</b></p>

                <div class="popup" onclick="myFunction6a()">

                    <button id="q6by" class="btn btn-success">Yes</button>
                    <span class="popuptext" id="q6y">Good! It is not only saving energy, the sunlight helps to kill the bacteria as well!</span>
                </div>

                <div class="popup" onclick="myFunction6b()">
                    <button id="q6bn" class="btn btn-default">No</button>
                    <span class="popuptext" id="q6n">
                        Reasonable! But try to hang clothes if possible, it helps to reduce your household energy waste as well!
                    </span>

                </div>

            </div>
        </div>

    </div>
</div>
<br><br>
    <div class="row" style="text-align:center;background:rgba(255, 255, 255, 0.7)">
        <button class="btn btn-success" onclick="result()">Results</button>
        <p> <span id="result">  </span></p>
   
    </div>

    <script>
        // When the user clicks on div, open the popup
        function myFunction() {

            var popup = document.getElementById("q1y");
            popup.classList.toggle("show");
            document.getElementById('q1bn').style.display = 'none';
            return 1;
        }

        function myFunction1() {
            document.getElementById('q1by').style.display = 'none';
            var popup = document.getElementById("q1n");
            popup.classList.toggle("show");

        }


        function myFunction2a() {
            document.getElementById('q2bn').style.display = 'none';
            var popup = document.getElementById("q2y");
            popup.classList.toggle("show");
            return 1;
        }

        function myFunction2b() {
            document.getElementById('q2by').style.display = 'none';
            var popup = document.getElementById("q2n");
            popup.classList.toggle("show");
           
        }

        function myFunction3a() {
            document.getElementById('q3bn').style.display = 'none';
            var popup = document.getElementById("q3y");
            popup.classList.toggle("show");
            return 1;
        }

        function myFunction3b() {
            document.getElementById('q3by').style.display = 'none';
            var popup = document.getElementById("q3n");
            popup.classList.toggle("show");
        }

          function myFunction4a() {
            document.getElementById('q4bn').style.display = 'none';
            var popup = document.getElementById("q4y");
              popup.classList.toggle("show");
              return 1;
        }

        function myFunction4b() {
            document.getElementById('q4by').style.display = 'none';
            var popup = document.getElementById("q4n");
            popup.classList.toggle("show");
        }

          function myFunction5a() {
            document.getElementById('q5bn').style.display = 'none';
            var popup = document.getElementById("q5y");
              popup.classList.toggle("show");
              return 1;
        }

        function myFunctio5b() {
            document.getElementById('q5by').style.display = 'none';
            var popup = document.getElementById("q5n");
            popup.classList.toggle("show");
        }

          function myFunction6a() {
            document.getElementById('q6bn').style.display = 'none';
            var popup = document.getElementById("q6y");
              popup.classList.toggle("show");
              return 1;
        }

        function myFunction6b() {
            document.getElementById('q6by').style.display = 'none';
            var popup = document.getElementById("q6n");
            popup.classList.toggle("show");
        }

        function result() {
            var total = 0;
            if (document.getElementById('q6bn').style.display == 'none') {total = total+ 1 };
            if (document.getElementById('q5bn').style.display == 'none') { total = total + 1 };
            if (document.getElementById('q4bn').style.display == 'none') { total = total + 1 };
            if (document.getElementById('q3bn').style.display == 'none') { total = total + 1 };
            if (document.getElementById('q2bn').style.display == 'none') { total = total + 1 };
            if (document.getElementById('q1bn').style.display == 'none') { total = total + 1 };
     
            if (total == 0) { result = "Aww, work harder to help us protect our environment!" };
            if (total == 1) { result = "Try harder, we need more social awareness from people like you to save our earth!" };
            if (total == 2) { result = "Try harder, we need more social awareness from people like you to save our earth!" };
            if (total == 3) { result = "Good! Keeping up the good work to reduce energy waste from home!" };
            if (total == 4) { result = "Good! Keeping up the good work to reduce energy waste from home!" };
            if (total == 5) { result = "Wow! You must be aware of our house energy waste issue, keep on doing the good!" };
            if (total == 6) { result = "Wow! You must be environmental activist that keep trying to help with current earth situation help us to spread the words!" };
            document.getElementById("result").innerHTML = result;
        }
 
    </script>


