@{
    ViewBag.Title = "WaterTipLaundry";
}


<br>
<br>
<br>
<b><a class="btn btn-default" style="text-align: center;" href="~/Home/Electrictips">< Back</a></b>
<br>
<br>
<br>
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">

            <a data-toggle="collapse">
                <b>Only turn on washing machine when you have full load</b>
            </a>
        </h2>

    </div>

    <div id="collapse4" class="panel-collapse collapse in">
        <div class="panel-body">


            <p>
                Laundry water usage consumption is 22% of the total water usage in average of the household.
                Even the most efficient washing machine will take about 56.8L to 113.6L of water.
                The cost per kilolitre of water in average at Australia is about $3.
                That’s mean every load will cost you <b>$0.3 more plus a 100L water </b>waste where u can save them easily by just wash your cloth when it
                is full load instead of doing another load.
            </p>
            <br><br><br><br>
            <a href="https://www.canstarblue.com.au/electricity/washing-machine-running-cost/" target="_blank">
                <img class="col-sm-4 " src="~/Images/ws s.PNG" />
            </a>
            <a href="https://www.canstarblue.com.au/electricity/washing-machine-running-cost/" target="_blank">
                <img class="col-sm-6" id="canstar" src="~/Images/ws m.PNG" />
            </a>

            <p style="text-align:center;font-size:8px;"><i>source from canstarblue</i></p>
            <br>

            <p><a class="btn-link" href="https://www.redenergy.com.au/living-energy/energy-saving/how-to-save-on-your-laundry-energy-bills" target="_blank">Learn more About Laundry Tips</a></p>

        </div>

    </div>

</div>