@{
    ViewBag.Title = "Watertips";
}

<style>
    div.gallery img {
        padding-top: 20px;
        width: 100%;
        height: 250px;
    }

    div.gallery {
        border: 1px solid #ccc;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }



    div.desc {
        padding: 15px;
        height: 100px;
        text-align: center;
    }

    * {
        box-sizing: border-box;
    }


    @@media only screen and (max-width: 700px) {
        .responsive {
            width: 33.33333%;
            margin: 6px 0;
        }
    }

    @@media only screen and (max-width: 500px) {
        .responsive {
            width: 100%;
        }
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
</style>




<div class="row">
    <div class="col-sm-offset-1 col-sm-10" style="text-align:left;font-family:Verdana;border-radius:25px;border:2px solid #ffffff;margin-top:5%; ">

        <br>
        <h4 style="line-height:1.75;padding-left:20px;padding-right:20px"><b>Water</b></h4>

        <h1 style="line-height:1.75;padding-left:20px;padding-right:20px;">
            6 Litres of water is approximately used for every minute.
        </h1>
        <br>

    </div>
</div>
<br>

<br>
<br>

<div class="container" style="border-top:5px solid">
    <h1 style="text-align:center">How water is produced </h1>
</div>
<br>
<br>


<div class="row">

    <div class="col-sm-3" style="width:25%">
        <div class="card" style="border-right:2px solid;height:300px;padding-right:10px;text-align:center">

            <img src="~/Images/pump.jpg" style="width:100%;height:200px"/>
            <h4>Pump intake the water to the treatment station</h4>
        </div>
    </div>

    <div class="col-sm-3" style="width:25%">
        <div class="card" style="border-right:2px solid;height:300px;padding-right:10px;text-align:center">
            <img src="~/Images/treatment.jpg" style="width:100%;height:200px"/>

            <h4>Coagulation, Sedimentation, Filtration, Disinfection for water treatment is taken </h4>
        </div>
    </div>

    <div class="col-sm-3" style="width:25%">
        <div class="card" style="border-right:2px solid;height:300px;padding-right:10px;text-align:center">
            <img src="~/Images/deliver.jpg" style="width:100%;height:200px" />
            <h4>Storage distribute to local</h4>
        </div>
    </div>

    <div class="col-sm-3" style="width:25%">
        <div class="card" style="height:300px;padding-right:10px;text-align:center">

            <img src="~/Images/watertap.png" style="width:100%;height:200px" />
            <h4>Your tap water came from all the processes</h4>
        </div>
    </div>
</div>
<div class="container" style="border-bottom:5px solid">
    <br>
</div>

<br>
<br>




<br>
<br>

<div class="container" style="border-top:5px solid">
    <h1 style="text-align:center"><b>Tips to Save Water At Your Home</b> </h1>
</div>
<br>
<div class="row">
    <div class="col-sm-4 col-sm-offset-2" style="text-align:center;">

        <div class="gallery">


            <img src="~/Images/laundry.jpg" style="width:80%;height:200px" alt="aircon" width="600" height="400"/>
            <div class="desc"><p><b>Turn on your washing machine only if it is full load</b></p></div>

        </div>

    </div>

    <div class="col-sm-4" style="text-align:center;">

        <div class="gallery">

            
            <img src="~/Images/washhand.jpg" style="width:40%;height:200px" alt="bulb" width="600" height="400"  />
            <div class="desc"><p><b>Turn off your tap water when you brushing or soaping your hand</b></p></div>

        </div>

    </div>
    </div>
   