@{
    ViewBag.Title = "Weather";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<style>
    .grid-container {
        display: grid;
        max-width: 2000px;
        grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
        grid-gap: 1px;
    }


        .grid-container > div {
            text-align: center;
            font-size: 10px;
        }

    .question:not(.active) {
        display: none;
    }

    @@media (max-width: 768px) {
        .btn-responsive {
            padding: 2px 4px;
            font-size: 80%;
            line-height: 1;
        }
    }

    @@media (min-width: 769px) and (max-width: 992px) {
        .btn-responsive {
            padding: 4px 9px;
            font-size: 90%;
            line-height: 1.2;
            max-width: 400px;
        }
    }
</style>
<div class="w3-content" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin-right:-15px;margin-left:-15px;margin-top:-23px">

    <img src="~/Images/clouds-3488632_1920.jpg" style="width:100%;max-height:580px;opacity:0.5" />

    <div class="w3-display-middle w3-text-black w3-hide-small w3-half w3-row" style="margin-top:5%">
        <div class=" w3-container" style="min-height:300px">
            <h1 style="font-size:40px;line-height:1.75"><b>Save energy by setting the right temperature at your house!</b></h1>
        </div>
    </div>
    <div class="w3-display-right w3-container w3-text-black w3-hide-small w3-half" style="background-color:darkseagreen;margin-right:5%;margin-top:2%;text-align:center;width:20%">

        <h4 style="line-height:1.75;padding-left:20px;padding-right:20px"><b id="name" style="color:white"></b></h4>
        <h3><b style="padding-left:20px;padding-right:20px;color:white">Today</b></h3>

        <div id="icon" style="text-align:center"><img id="weathericon" src="" alt="Weather icon"></div>
        <p id="wdesp" style="color:white;text-align:center"></p>
        <br>
        <p style="color:white">Now</p>
        <h1 style="line-height:1.75;padding-left:20px;padding-right:20px;font-size:40px">
            <b id="temp" style="color:white"></b> <b style="color:white">°C</b>
        </h1>

        <p style="color:white;font-size:12px">    Min  <b id="tempmin" style="color:white;font-size:20px"></b> <b style="color:white;font-size:20px">C</b>  </p>
        <p style="color:white;font-size:12px">
            Max <b id="tempmax" style="color:white;font-size:20px">
            </b> <b style="color:white;font-size:20px">C</b>
        </p>

        <br>
        <p style="color:white">Humidity:</p>
        <h4 style="line-height:1.75;padding-left:20px;padding-right:20px">
            <b id="humidity" style="color:white"></b><b style="color:white">%</b>

        </h4>
    </div>
    <a class="w3-display-right w3-row w3-text-white w3-hide-small w3-hide-medium" href="#avgacspend" style="margin-right:2%;margin-top:23%"><p class="fa fa-arrow-circle-down"> Go to Next Section</p></a>


</div>

<div class="w3-row " id="avgacspend">
    <div class="w3-half" id="curyear" style="border-radius: 25px;border: 2px solid #73AD21;margin-top:5%">
        <h2 class="w3-wide w3-center" style="margin-top:2%">VIC average weekly household A/C consumption in 2019</h2>
        <div class="w3-row w3-center" style="margin:5%">
            <div class="w3-padding-32  w3-center w3-half">
                <h1><b>78.4 kwh <i class='fas fa-arrow-alt-circle-up' style='font-size:48px;color:green'></i></b></h1>
                <p>electric consumption by air conditioner every week</p>
            </div>
            <div class="w3-padding-32  w3-center w3-half">
                <h1><b>64.79 kg <i class='fas fa-arrow-alt-circle-up' style='font-size:48px;color:green'></i></b></h1>
                <p>carbon emission from air conditioner every week </p>
            </div>
            <div class="w3-row w3-center" style="margin:5%">
                <button id="prevyr"class="btn btn-info">Show me 2018 data</button>
            </div>
        </div>
    </div>
    <div class="w3-half" id="prevyear" style="border-radius: 25px;border: 2px solid #73AD21;margin-top:5%;display:none">
        <h2 class="w3-wide w3-center" style="margin-top:2%">VIC average weekly household A/C consumption in 2018</h2>
        <div class="w3-row w3-center" style="margin:5%">
            <div class="w3-padding-32  w3-center w3-half">
                <h1><b>73.5 kwh </b></h1>
                <p>electric consumption by air conditioner every week</p>
            </div>
            <div class="w3-padding-32  w3-center w3-half">
                <h1><b>60.74 kg </b></h1>
                <p>carbon emission from air conditioner every week </p>
            </div>
            <div class="w3-row w3-center" style="margin:5%">
                <button id="curyr" class="btn btn-info">Show me 2019 data</button>
            </div>
        </div>
    </div>

    <div class="w3-half w3-center">
        <img src="~/Images/weatherAC.png" style="width:80%;margin-top:11%" />

    </div>
</div>
<a class="w3-right w3-row" href="#todayrecom" style="margin-right:2%;"><p class="fa fa-arrow-circle-down"> Go to Next Section</p></a>
<br>
<br>
<div class="w3-content" style="max-width:2000px;padding-left:-15px;padding-right:-15px;margin:-15px;margin-top:0;background-color:#D3EEA7" id="todayrecom">
    <div class="container">
        <br><br>
        <h4 style="text-align:left;margin-left:20%"><b>Today We Recommend You</b></h4>
    </div>

    <div class="w3-row-padding w3-center w3-margin-top">
        <div class="w3-third">
            <div class=" w3-container" style="min-height:150px">
                <p>Set Your Themostat at:</p><br>


                <h2> <b id="tempre"> </b><b> °C</b></h2>
                <br><br>
            </div>
        </div>

        <div class="w3-third">
            <div class=" w3-container" style="min-height:150px">
                <p>For Total Length Of Time:</p><br>

                <h2><b>6 hours</b></h2>
                <br><br>
            </div>
        </div>
        <div class="w3-third">
            <div class=" w3-container" style="min-height:150px;background-color:#99E5C7">

                <br>
                <b>Do You Know?</b>
                <br><br>
                    <p>Standard temperature to set at cold weather is at 20°C, every 1C increase will cost you extra 10% energy consumption.</p>

            </div>
        </div>



    </div>
</div>
<br>


<a class="w3-right w3-row w3-text-black" href="#personalsug" style="margin-right:2%;"><p class="fa fa-arrow-circle-down"> Go to Next Section</p></a>
<div class="w3-row w3-center" id="personalsug">
    
    <img src="~/Images/psugac.png" style="width:80%" />
</div>
<br>
<a class="w3-right w3-row w3-text-black" href="#quickquiz" style="margin-right:2%;"><p class="fa fa-arrow-circle-down"> Go to Next Section</p></a>
<br>
<div class="w3" style="background-color:#84b8FB;max-width:2000px;margin-right:-15px;margin-left:-15px" id="quickquiz">
    <h2 class="w3-wide w3-center w3-padding-16">Let Us Understand You Before Suggesting</h2>
    <div class="w3-row-padding w3-center">
        <div class="w3-card w3-container" style="min-height:300px;background-color:white;">
            <div id="questions" style="padding:32px">

                <div class="question active">
                    <div class="progress">

                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="16.7"
                             aria-valuemin="0" aria-valuemax="100" style="width:16.7%;text-align:center">
                            Question 1 of 6

                        </div>

                    </div>Which season are you concern about?
                    <br>
                    <br>
                    <p><button class="btn-responsive btn-block" type="button" id="winter">Cold Weather</button></p>
                    <br>
                    <p><button class="btn-responsive btn-block" type="button" id="summer">Hot Weather</button></p>
                </div>
                <div class="question">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="33.4"
                             aria-valuemin="0" aria-valuemax="100" style="width:33.4%;text-align:center">
                            Question 2 of 6
                        </div>
                    </div>
                    Which type of house you are living in?
                    <br>
                    <br>
                    <p><button class="btn-responsive btn-block" type="button" id="fua">Flat or Unit or Apartment</button></p>
                    <br>
                    <p><button class="btn-responsive btn-block" type="button" id="srtt">Semi-detached or Row or Terrace or Townhouse</button></p>
                    <br>
                    <p><button class="btn-responsive btn-block" type="button" id="sh">Seperate House</button></p>
                </div>
                <div class="question">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                             aria-valuemin="0" aria-valuemax="100" style="width:50%;text-align:center">
                            Question 3 of 6
                        </div>
                    </div>

                    <div id="winterheat" style="display:none">
                        Which type of heating system you using?
                        <br>
                        <br>
                        <p><button class="btn-responsive btn-block" type="button" id="ductedgas"> Ducted gas</button></p>
                        <br>
                        <p><button class="btn-responsive btn-block" type="button" id="rvcacs">Reverse- cycle air-conditioning</button></p>
                        <br>
                        <p><button class="btn-responsive btn-block" type="button" id="wallmge">Wall-mounted Gas or Wall-mounted Electric</button></p>
                        <br>
                        <p><button class="btn-responsive btn-block" type="button" id="portableelecgas">Portable electric or Gas</button></p>
                    </div>
                    <div id="summercool" style="display:none">
                        Which type of cooling system you using?
                        <br>
                        <br />
                        <p><button class="btn-responsive btn-block" type="button" id="rvcacw">Reverse- cycle air-conditioning</button></p>
                        <br>
                        <p><button class="btn-responsive btn-block" type="button" id="evaporativecool">Evaporative cooler</button></p>
                        <br>
                        <p><button class="btn-responsive btn-block" type="button" id="wallwinmount">Wall or Window Mounted Air Conditioner</button></p>
                        <br>
                        <p><button class="btn-responsive btn-block" type="button" id="portac">Portable Air-Conditioning</button></p>
                    </div>
                </div>
                <div class="question">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="66.7"
                             aria-valuemin="0" aria-valuemax="100" style="width:66.7%;text-align:center">
                            Question 4 of 6
                        </div>
                    </div>
                    Do you like colder or warmer temperature compare to others?
                    <br>
                    <br>
                    <p><button class="btn-responsive btn-block" type="button" id="colderc">Colder</button></p>
                    <br>
                    <p><button class="btn-responsive btn-block" type="button" id="normalc">Normal</button></p>
                    <br>
                    <p><button class="btn-responsive btn-block" type="button" id="warmerc">Warmer</button></p>
                    <br>
                </div>
                <div class="question">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="83.33"
                             aria-valuemin="0" aria-valuemax="100" style="width:83.33%;text-align:center">
                            Question 5 of 6
                        </div>
                    </div>
                    Are you living with others?
                    <br>
                    <br>
                    <p><button class="btn-responsive btn-block" type="button" id="liveyes">Yes</button></p>
                    <br>
                    <p><button class="btn-responsive btn-block" type="button" id="liveno">No</button></p>
                    <br>
                    <div id="liveothers" style="display:none">
                        Do they like colder or warmer compare to you?
                        <br>
                        <br>
                        <p><button class="btn-responsive btn-block" type="button" id="coldero">Colder</button></p>
                        <br>
                        <p><button class="btn-responsive btn-block" type="button" id="warmero">Warmer</button></p>
                        <br>
                    </div>
                </div>
                <div class="question">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100" style="width:100%;text-align:center">
                            Question 6 of 6
                        </div>
                    </div>
                    <div id="lastq">
                        How usually do your house expose to the sunlight from glass window?
                    </div>
                    <br>
                    <br>
                    <p><button class="btn-responsive btn-block" type="button" id="more6">More than 6 hours</button></p>
                    <br>
                    <p><button class="btn-responsive btn-block" type="button" id="3to6hrs">3 to 6 hours</button></p>
                    <br>
                    <p><button class="btn-responsive btn-block" type="button" id="1to3hrs">1 to 3 hours</button></p>
                    <br>
                    <p><button class="btn-responsive btn-block" type="button" id="lessthan1">Less than 1 hour</button></p>
                    <br>
             
                </div>

            </div>
            <div id="result" style="display:none;margin-top:5%">
                <h1> Thank you for taking your time with us!</h1>
                <h2><b>Our Suggestion to you</b></h2>

                <br>
                <h4><b>Based on your answer</b></h4>
                <p>Set your themostat to: </p>
                <p id="temperaturesetper"></p>
                <br>
                <p>Length of time:</p>
                <p id="hoursetper"></p>
                <br>
                <h4><b>Standard</b></h4>
                <p id="coolset" style="display:none">Setting themostat 8°C higher than outside temperature for average 6 hours</p>
                <p id="heatset" style="display:none">Setting themostat 8°C lower than outside temperature for average 6 hours</p><br><br>
            </div>

        </div>

        <br><br>
        <br>
    </div>
</div>

<script>
    $('#prevyr').click(function () {
        document.getElementById('prevyear').style.display = 'initial';
        document.getElementById('curyear').style.display = 'none';
    });

     $('#curyr').click(function () {
        document.getElementById('prevyear').style.display = 'none';
        document.getElementById('curyear').style.display = 'initial';
    });
    var season;
    var roomtype;
    var cooltype;
    var heattype;
    var personalperfer;
    var livewithother;
    var otherprefer;
    var exposure;

    $('#winter').click(function () {
        document.getElementById('winterheat').style.display = 'initial';
        document.getElementById('heatset').style.display = 'initial';
        var $winter = $('.question.active');
        $('.question').removeClass('active');
        $winter.next().addClass('active');
        season = 0;
        return season;

    });
    //season 0=winter,1=summer
    $('#summer').click(function () {
        document.getElementById('coolset').style.display = 'initial';
        document.getElementById('summercool').style.display = 'initial';
        var $summer = $('.question.active');
        $('.question').removeClass('active');
        $summer.next().addClass('active');
        season = 1;
        return season;
    });

    $('#fua').click(function () {
        var $fua = $('.question.active');
        $('.question').removeClass('active');
        $fua.next().addClass('active');
        roomtype = 0;
        return roomtype;
    });

    $('#srtt').click(function () {
        var $srtt = $('.question.active');
        $('.question').removeClass('active');
        $srtt.next().addClass('active');
        roomtype = 1;
        return roomtype;
    });

    $('#sh').click(function () {
        var $sh = $('.question.active');
        $('.question').removeClass('active');
        $sh.next().addClass('active');
        roomtype = 2;
        return roomtype;
    });

    $('#ductedgas').click(function () {
        var $sh = $('.question.active');
        $('.question').removeClass('active');
        $sh.next().addClass('active');
        heattype = 0;
        return heattype;
    });

    $('#rvcacs').click(function () {
        var $sh = $('.question.active');
        $('.question').removeClass('active');
        $sh.next().addClass('active');
        heattype = 1;
        return heattype;
    });

    $('#wallmge').click(function () {
        var $sh = $('.question.active');
        $('.question').removeClass('active');
        $sh.next().addClass('active');
        heattype = 2;
        return heattype;
    });

    $('#portableelecgas').click(function () {
        var $sh = $('.question.active');
        $('.question').removeClass('active');
        $sh.next().addClass('active');
        heattype = 3;
        return heattype;
    });

    $('#rvcacw').click(function () {
        var $sh = $('.question.active');
        $('.question').removeClass('active');
        $sh.next().addClass('active');
        cooltype = 0;
        return cooltype;
    });

    $('#evaporativecool').click(function () {
        var $sh = $('.question.active');
        $('.question').removeClass('active');
        $sh.next().addClass('active');
        cooltype = 1;
        return cooltype;
    });

    $('#wallwinmount').click(function () {
        var $sh = $('.question.active');
        $('.question').removeClass('active');
        $sh.next().addClass('active');
        cooltype = 2;
        return cooltype;
    });


    $('#portac').click(function () {
        var $sh = $('.question.active');
        $('.question').removeClass('active');
        $sh.next().addClass('active');
        cooltype = 3;
        return cooltype;
    });

    $('#colderc').click(function () {
        var $sh = $('.question.active');
        $('.question').removeClass('active');
        $sh.next().addClass('active');
        personalperfer = 0;
        return personalperfer;
    });

    $('#normalc').click(function () {
        var $sh = $('.question.active');
        $('.question').removeClass('active');
        $sh.next().addClass('active');
        personalperfer = 1;
        return personalperfer;
    });

    $('#warmerc').click(function () {
        var $sh = $('.question.active');
        $('.question').removeClass('active');
        $sh.next().addClass('active');
        personalperfer = 2;
        return personalperfer;
    });

    $('#liveyes').click(function () {
        document.getElementById('liveothers').style.display = 'initial';
        document.getElementById('liveno').style.display = 'none';
        livewithother = 0;
        return livewithother;
    });

    $('#liveno').click(function () {
        var $sh = $('.question.active');
        $('.question').removeClass('active');
        $sh.next().addClass('active');
        livewithother = 1;
        return livewithother;
    });

    $('#coldero').click(function () {
        var $sh = $('.question.active');
        $('.question').removeClass('active');
        $sh.next().addClass('active');
        otherprefer = 0;
        return otherprefer;
    });

    $('#warmero').click(function () {
        var $sh = $('.question.active');
        $('.question').removeClass('active');
        $sh.next().addClass('active');
        otherprefer = 1;
        return otherprefer;
    });

    $('#more6').click(function () {

        exposure = 0;
          document.getElementById('questions').style.display = 'none';
        document.getElementById('result').style.display = 'initial';

        if (season == 0) {
            var temperatureset = -8;
            var hourset = 6;

            if (roomtype == 0) { hourset = hourset - 1 }
            if (roomtype == 1) { hourset = hourset }
            if (roomtype == 2) { hourset = hourset + 1 }
            if (heattype == 0) { temperatureset = temperatureset - 2 }
            if (heattype == 1) { temperatureset = temperatureset + 1 }
            if (heattype == 2) { temperatureset = temperatureset - 1 }
            if (heattype == 3) { temperatureset = temperatureset }
            if (personalperfer == 0) { temperatureset = temperatureset - 2 }
            if (personalperfer == 1) { temperatureset = temperatureset }
            if (personalperfer == 2) { temperatureset = temperatureset + 2 }
            if (livewithother == 0) {
                if (otherprefer == 0) { temperatureset = temperatureset - 1 }
                if (otherprefer == 1) { temperatureset = temperatureset + 1 }
            }
            if (exposure == 0) { hourset = hourset - 2 }
            if (exposure == 1) { hourset = hourset - 1 }
            if (exposure == 2) { hourset = hourset }
            if (exposure == 3) { hourset = hourset + 2 }
            document.getElementById("hoursetper").innerHTML = hourset + " hours";
            document.getElementById("temperaturesetper").innerHTML = temperatureset + " °C compare to outdoor temperature";
        }


        if (season == 1) {
            var temperatureset = 8;
            var hourset = 6;
            if (roomtype == 0) { hourset = hourset + 1 }
            if (roomtype == 1) { hourset = hourset }
            if (roomtype == 2) { hourset = hourset - 1 }
            if (heattype == 0) { temperatureset = temperatureset + 2 }
            if (heattype == 1) { temperatureset = temperatureset - 1 }
            if (heattype == 2) { temperatureset = temperatureset + 1 }
            if (heattype == 3) { temperatureset = temperatureset }
            if (personalperfer == 0) { temperatureset = temperatureset - 2 }
            if (personalperfer == 1) { temperatureset = temperatureset }
            if (personalperfer == 2) { temperatureset = temperatureset + 2 }
            if (livewithother == 0) {
                if (otherprefer == 0) { temperatureset = temperatureset - 1 }
                if (otherprefer == 1) { temperatureset = temperatureset + 1 }
            }
            if (exposure == 0) { hourset = hourset + 2 }
            if (exposure == 1) { hourset = hourset + 1 }
            if (exposure == 2) { hourset = hourset }
            if (exposure == 3) { hourset = hourset - 2 }
            document.getElementById("hoursetper").innerHTML = hourset + " hours";
            document.getElementById("temperaturesetper").innerHTML = temperatureset + " °C compare to outdoor temperature";
            return exposure;
        }
    });

    $('#3to6hrs').click(function () {

        exposure = 1;
          document.getElementById('questions').style.display = 'none';
        document.getElementById('result').style.display = 'initial';

        if (season == 0) {
            var temperatureset = -8;
            var hourset = 6;

            if (roomtype == 0) { hourset = hourset - 1 }
            if (roomtype == 1) { hourset = hourset }
            if (roomtype == 2) { hourset = hourset + 1 }
            if (heattype == 0) { temperatureset = temperatureset - 2 }
            if (heattype == 1) { temperatureset = temperatureset + 1 }
            if (heattype == 2) { temperatureset = temperatureset - 1 }
            if (heattype == 3) { temperatureset = temperatureset }
            if (personalperfer == 0) { temperatureset = temperatureset - 2 }
            if (personalperfer == 1) { temperatureset = temperatureset }
            if (personalperfer == 2) { temperatureset = temperatureset + 2 }
            if (livewithother == 0) {
                if (otherprefer == 0) { temperatureset = temperatureset - 1 }
                if (otherprefer == 1) { temperatureset = temperatureset + 1 }
            }
            if (exposure == 0) { hourset = hourset - 2 }
            if (exposure == 1) { hourset = hourset - 1 }
            if (exposure == 2) { hourset = hourset }
            if (exposure == 3) { hourset = hourset + 2 }
            document.getElementById("hoursetper").innerHTML = hourset + " hours";
            document.getElementById("temperaturesetper").innerHTML = temperatureset + " °C compare to outdoor temperature";
        }


        if (season == 1) {
            var temperatureset = 8;
            var hourset = 6;
            if (roomtype == 0) { hourset = hourset + 1 }
            if (roomtype == 1) { hourset = hourset }
            if (roomtype == 2) { hourset = hourset - 1 }
            if (heattype == 0) { temperatureset = temperatureset + 2 }
            if (heattype == 1) { temperatureset = temperatureset - 1 }
            if (heattype == 2) { temperatureset = temperatureset + 1 }
            if (heattype == 3) { temperatureset = temperatureset }
            if (personalperfer == 0) { temperatureset = temperatureset - 2 }
            if (personalperfer == 1) { temperatureset = temperatureset }
            if (personalperfer == 2) { temperatureset = temperatureset + 2 }
            if (livewithother == 0) {
                if (otherprefer == 0) { temperatureset = temperatureset - 1 }
                if (otherprefer == 1) { temperatureset = temperatureset + 1 }
            }
            if (exposure == 0) { hourset = hourset + 2 }
            if (exposure == 1) { hourset = hourset + 1 }
            if (exposure == 2) { hourset = hourset }
            if (exposure == 3) { hourset = hourset - 2 }
            document.getElementById("hoursetper").innerHTML = hourset + " hours";
            document.getElementById("temperaturesetper").innerHTML = temperatureset + " °C compare to outdoor temperature";
            return exposure;
        }
        });

    $('#1to3hrs').click(function () {
        
        exposure = 2;
        document.getElementById('questions').style.display = 'none';
        document.getElementById('result').style.display = 'initial';

        if (season == 0) {
            var temperatureset = -8;
            var hourset = 6;

            if (roomtype == 0) { hourset = hourset - 1 }
            if (roomtype == 1) { hourset = hourset }
            if (roomtype == 2) { hourset = hourset + 1 }
            if (heattype == 0) { temperatureset = temperatureset - 2 }
            if (heattype == 1) { temperatureset = temperatureset + 1 }
            if (heattype == 2) { temperatureset = temperatureset - 1 }
            if (heattype == 3) { temperatureset = temperatureset }
            if (personalperfer == 0) { temperatureset = temperatureset - 2 }
            if (personalperfer == 1) { temperatureset = temperatureset }
            if (personalperfer == 2) { temperatureset = temperatureset + 2 }
            if (livewithother == 0) {
                if (otherprefer == 0) { temperatureset = temperatureset - 1 }
                if (otherprefer == 1) { temperatureset = temperatureset + 1 }
            }
            if (exposure == 0) { hourset = hourset - 2 }
            if (exposure == 1) { hourset = hourset - 1 }
            if (exposure == 2) { hourset = hourset }
            if (exposure == 3) { hourset = hourset + 2 }
            document.getElementById("hoursetper").innerHTML = hourset + " hours";
            document.getElementById("temperaturesetper").innerHTML = temperatureset + " °C compare to outdoor temperature";
        }


        if (season == 1) {
            var temperatureset = 8;
            var hourset = 6;
            if (roomtype == 0) { hourset = hourset + 1 }
            if (roomtype == 1) { hourset = hourset }
            if (roomtype == 2) { hourset = hourset - 1 }
            if (heattype == 0) { temperatureset = temperatureset + 2 }
            if (heattype == 1) { temperatureset = temperatureset - 1 }
            if (heattype == 2) { temperatureset = temperatureset + 1 }
            if (heattype == 3) { temperatureset = temperatureset }
            if (personalperfer == 0) { temperatureset = temperatureset - 2 }
            if (personalperfer == 1) { temperatureset = temperatureset }
            if (personalperfer == 2) { temperatureset = temperatureset + 2 }
            if (livewithother == 0) {
                if (otherprefer == 0) { temperatureset = temperatureset - 1 }
                if (otherprefer == 1) { temperatureset = temperatureset + 1 }
            }
            if (exposure == 0) { hourset = hourset + 2 }
            if (exposure == 1) { hourset = hourset + 1 }
            if (exposure == 2) { hourset = hourset }
            if (exposure == 3) { hourset = hourset - 2 }
            document.getElementById("hoursetper").innerHTML = hourset + " hours";
            document.getElementById("temperaturesetper").innerHTML = temperatureset + " °C compare to outdoor temperature";
            return exposure;
        }
    });

    $('#lessthan1').click(function () {
      
    
        exposure = 3;
          document.getElementById('questions').style.display = 'none';
        document.getElementById('result').style.display = 'initial';

        if (season == 0) {
            var temperatureset = -8;
            var hourset = 6;

            if (roomtype == 0) { hourset = hourset - 1 }
            if (roomtype == 1) { hourset = hourset }
            if (roomtype == 2) { hourset = hourset + 1 }
            if (heattype == 0) { temperatureset = temperatureset - 2 }
            if (heattype == 1) { temperatureset = temperatureset + 1 }
            if (heattype == 2) { temperatureset = temperatureset - 1 }
            if (heattype == 3) { temperatureset = temperatureset }
            if (personalperfer == 0) { temperatureset = temperatureset - 2 }
            if (personalperfer == 1) { temperatureset = temperatureset }
            if (personalperfer == 2) { temperatureset = temperatureset + 2 }
            if (livewithother == 0) {
                if (otherprefer == 0) { temperatureset = temperatureset - 1 }
                if (otherprefer == 1) { temperatureset = temperatureset + 1 }
            }
            if (exposure == 0) { hourset = hourset - 2 }
            if (exposure == 1) { hourset = hourset - 1 }
            if (exposure == 2) { hourset = hourset }
            if (exposure == 3) { hourset = hourset + 2 }
            document.getElementById("hoursetper").innerHTML = hourset + " hours";
            document.getElementById("temperaturesetper").innerHTML = temperatureset + " °C compare to outdoor temperature";
        }


        if (season == 1) {
            var temperatureset = 8;
            var hourset = 6;
            if (roomtype == 0) { hourset = hourset + 1 }
            if (roomtype == 1) { hourset = hourset }
            if (roomtype == 2) { hourset = hourset - 1 }
            if (heattype == 0) { temperatureset = temperatureset + 2 }
            if (heattype == 1) { temperatureset = temperatureset - 1 }
            if (heattype == 2) { temperatureset = temperatureset + 1 }
            if (heattype == 3) { temperatureset = temperatureset }
            if (personalperfer == 0) { temperatureset = temperatureset - 2 }
            if (personalperfer == 1) { temperatureset = temperatureset }
            if (personalperfer == 2) { temperatureset = temperatureset + 2 }
            if (livewithother == 0) {
                if (otherprefer == 0) { temperatureset = temperatureset - 1 }
                if (otherprefer == 1) { temperatureset = temperatureset + 1 }
            }
            if (exposure == 0) { hourset = hourset + 2 }
            if (exposure == 1) { hourset = hourset + 1 }
            if (exposure == 2) { hourset = hourset }
            if (exposure == 3) { hourset = hourset - 2 }
            document.getElementById("hoursetper").innerHTML = hourset + " hours";
            document.getElementById("temperaturesetper").innerHTML = temperatureset + " °C compare to outdoor temperature";
            return exposure;
        }
    });

  



  


</script>

<script>

    $(document).ready(function () {

        $.get("https://api.openweathermap.org/data/2.5/weather?q=Melbourne,au&appid=d10eac299378be51e983c8ee353655cf", function (response) {
            $("#name").text(response.name);
            var tempkelmax = response.main.temp_max;
            var tempcelmax = (tempkelmax - 273.15).toFixed(1);
            var tempkelmin = response.main.temp_min;
            var tempcelmin = (tempkelmin - 273.15).toFixed(1);
            var tempkel = response.main.temp;
            var tempcel = (tempkel - 273.15).toFixed(1);
            var tempre = (tempkel - 273.15 + 8).toFixed(0);
            $("#temp").text(tempcel, "resize");
            $("#tempmax").text(tempcelmax);
            $("#tempmin").text(tempcelmin);
            $("#humidity").text(response.main.humidity);
            $("#wdesp").text(response.weather[0].description);
            $("#tempre").text(tempre);



            var iconcode = response.weather[0].icon;
            var iconurl = "https://openweathermap.org/img/w/" + iconcode + ".png";
            $('#weathericon').attr('src', iconurl);
            console.log(response);

        });
    });


</script>

<br>
<br>
<br>
<br>

<div class="container" style="padding-left:20px">
    <a class="twitter-share-button"
       href="https://energuctioniteration2.azurewebsites.net/Home/Weather">
        Tweet
    </a>
    <script>
        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));</script>



    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like" data-href="https://energuctioniteration2.azurewebsites.net/Home/CommonTips" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
</div>
